// ==========================================================================
// COMPONENTS/_BLOG.SCSS
// ==========================================================================

.blog-posts,
.related-posts {

  .section-content {
		padding-bottom: 60px;
    padding-top: 20px;
  }

  .blog-post {
		&.col-xs-12,
		&.col-ms-12 {
			padding-left: 0;
			padding-right: 0;
		}

    .post-wrapper {
      padding-bottom: 30px;

      a,
      a:hover,
      a:focus {
        font-style: normal;
        text-decoration: none;
      }

      a {
				.post-category {
					padding-bottom: 10px;
					text-transform: capitalize;
				}

				.post-image-wrapper {
					img {
	          padding-bottom: 10px;
						width: 100%;
	        }
				}

				.post-text-wrapper {
					.post-title {
	          line-height: 1.05;
	          margin-bottom: 10px;
	          word-wrap: break-word;
	        }

	        .post-meta {
	          padding-bottom: 10px;
	        }
				}
      }

      a:hover .post-title,
      a:focus .post-title {
        color: #666;
      }
    }
  }
}

.blog-posts h2 {
  padding-bottom: 20px;
}

.related-posts h2 {
  padding-bottom: 5px;
}

.pagination {
  clear: both;
  letter-spacing: -4px;
  text-align: center;

  .page-numbers {
    background: $snowColor;
    letter-spacing: 1px;
    padding: 10px;
  }

  span.page-numbers {
    color: #666;
  }

  a.page-numbers {
    color: #000;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.ski .pagination .page-numbers {
  background: $skiColor;
}

.surf .pagination .page-numbers {
  background: $surfColor;
}

.skate .pagination .page-numbers {
  background: $skateColor;
}

.blog-post {
  .section-content {
    padding: 0 20px;

    h2,
    h3,
    h4 {
      margin: 40px 0 20px;

      &.post-title {
        margin: 0 0 10px;
      }
    }

    .section-content-wrapper {
      position: relative;
    }

    .post {
      .entry-header {
        .entry-title {
          margin-bottom: .25em;
        }

        .entry-meta {
          margin-bottom: 1em;
        }
      }

      .entry-content {
        clear: both;

        p {
          margin-bottom: 1.25em;
        }

        & > p:first-of-type {
          font-weight: bold;

          &:first-letter {
            color: #fff;
            float: left;
            font-size: 4.65em;
            line-height: .8em;
            padding-right: 8px;
            text-transform: uppercase;
          }
        }

        img {
          height: auto !important;
          width: auto !important;

          &.alignleft,
          &.alignright,
          &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 20px;
          }
        }

        blockquote {
          color: #fff;
          font-size: 1.3em;
          font-style: italic;
          font-weight: bold;
          text-align: center;
        }

        .wp-caption {
          width: auto !important;

          .wp-caption-text {
            font-weight: bold;
          }

          &.alignleft,
          &.alignright,
          &.aligncenter {
            text-align: center;
          }
        }

        .fluid-width-video-wrapper {
          clear: both;
        }

        iframe.strobbr {
          width: 100%;
        }

        ol,
        ul {
          display: table;
          padding: 0 0 20px 40px;
        }

        ul {
          list-style: square;
        }

        .strobbr-list {
          padding: 0 0 20px;
        }
      }

      .entry-categories-tags {
        clear: both;
        margin-bottom: 20px;
      }

      .discussion {
        clear: both;
        padding-left: 0;
        padding-right: 0;

        h2 {
          margin-bottom: 0;
        }
      }
    }

    #sidebar {
      .social-links {
        padding-top: 40px;

        .h4 {
          margin-bottom: 5px;
        }
      }

      .widget {
        padding-bottom: 40px;
        display: none;

        &.widget_mycategoryorder {
          padding-bottom: 20px;
        }

        &.widget_archive {

          select {
            -webkit-appearance: none;
            background: #fff;
            border: 0;
            border-radius: 0;
            font-family: $bodyFont;
            font-size: 1.25em;
            font-style: italic;
            line-height: 1;
            margin-bottom: 10px;
            padding: 10px;
            text-transform: uppercase;
          }
        }
      }

      .related-posts {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.entry-share {
  li {
    float: left;
    padding-bottom: 1em;

    .fb-like {
      padding-right: 20px;
    }
  }
}

.single-post {
  .mfp-zoom-in {
    // start state
    .mfp-with-anim {
      opacity: 0;
      transform: scale(.9);
      transition: all .3s ease-in-out;
    }

    &.mfp-bg {
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    // animate in
    &.mfp-ready {
      .mfp-with-anim {
        opacity: 1;
        transform: scale(1);
      }

      &.mfp-bg {
        opacity: .95;
      }
    }

    // animate out
    &.mfp-removing {
      .mfp-with-anim {
        opacity: 0;
        transform: scale(.9);
      }

      &.mfp-bg {
        opacity: 0;
        transition: all .9s ease-out;
      }
    }
  }
}

.single-post {
  .mfp-bg,
  .mfp-figure {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .blog-posts {

    h2 {
      padding-left: 10px;
    }

		.blog-post {
			&.col-ms-12 {
				padding-left: 0;
				padding-right: 0;
			}

	    .post-wrapper {
				a .post-image-wrapper {
					img {
						padding-bottom: 0;
					}
				}
			}
		}
  }

  .blog-post .section-content {
    .post {
      .entry-content {
        img {
          &.alignleft {
            float: left;
            max-width: 72%;
            padding: 0 40px 20px 0;
          }

          &.alignright {
            float: right;
            max-width: 72%;
            padding: 0 0 20px 40px;
          }
        }

        .wp-caption {
          width: auto !important;

          &.alignleft {
            float: left;
            max-width: 70%;
            padding-right: 40px;
          }

          &.alignright {
            float: right;
            max-width: 70%;
            padding-left: 40px;
          }

          &.aligncenter {
            text-align: center;
          }
        }
      }

      .discussion {
        display: block;
      }
    }

    #sidebar {
      .related-posts {
        .post {
          float: left;
          width: 50%;

          &:nth-child(1) .post-wrapper {
            padding-right: 10px;
          }

          &:nth-child(2) .post-wrapper {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {

  .blog-post .section-content .post .entry-content {
    .strobbr-list {
      li {
        float: left;
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .blog-post .section-content {
    .post {
      float: left;
      width: 75%;
    }

    #sidebar {
      float: right;
      width: 25%;

      .widget {
        display: block;
        padding-left: 40px;
      }

      .related-posts {
        padding-left: 40px;

        .post {
          float: none;
          width: 100%;

          &:nth-child(1) .post-wrapper {
            padding-right: 0;
          }

          &:nth-child(2) .post-wrapper {
            padding-left: 0;
          }
        }
      }
    }
  }
}
