/* ==========================================================================
   COMPONENTS/_DEALER-LOCATOR.SCSS
   ========================================================================== */

.dealer-locator {
	.section-content {
		padding: 0 20px;

		h1 {
			max-width: 1032px;
			margin: 0 auto 20px;
		}
		.dealer-copy {
			max-width: 1032px;
			color: #000;
			margin: 0 auto;

			p {
				margin-bottom: 10px;
			}
		}
		iframe {
			width: 100%;
			height: 700px;
			margin-top: 10px;
			background: none;
		}
	}
}
