// ==========================================================================
// COMPONENTS/_FAQ.SCSS
// ==========================================================================

.faqs {
  padding-bottom: 45px;
  padding-top: 30px;

  .section-content {

    h1 {
      margin-bottom: 20px;
		}

    p {
      font-size: 1.125em;
      margin-bottom: 20px;
		}
	}
}

.faq-nav {
  ul {
    text-align: center;

    li {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 10px;

      a {
        background: $snowColor;
        color: #000;
        display: block;
        font-size: 1.375em; // 22 / 16
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        padding: 3px 5px;
        text-align: center;
        text-transform: uppercase;
        width: 100px;
			}

      &.current-menu-item a {
        background: none;
        color: $snowColor;
			}
		}
	}
}

.ski .faq-nav ul li {
  a {
    background: $skiColor;
	}

  &.current-menu-item a {
    background: none;
    color: $skiColor;
	}
}

.surf .faq-nav ul li {
  a {
    background: $surfColor;
	}

  &.current-menu-item a {
    background: none;
    color: $surfColor;
	}
}

.skate .faq-nav ul li {
  a {
    background: $skateColor;
	}

  &.current-menu-item a {
    background: none;
    color: $skateColor;
	}
}

.faq-categories {
  h2 {
    display: none;
	}

  .desktop-nav {
    display: none;
	}

  .mobile-nav {
    margin-top: 20px;
	}
}

.faq-list {
  h3 {
    margin: 15px 0 10px;
	}

  .faq-question {
    padding-bottom: 10px;

    .question {
      background: #000;
      color: $snowColor;
      display: block;
      font-style: italic;
      font-weight: bold;
      padding: 5px 0;
      text-decoration: none;

      span {
        border-bottom: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 15px solid $snowColor;
        display: inline-block;
        float: right;
        height: 0;
        margin-left: 10px;
        width: 0;
			}
		}

    &.collapsed .question span {
      border-bottom: 8px solid transparent;
      border-left: 15px solid $snowColor;
      border-top: 8px solid transparent;
		}

    .answer {
      background: $snowColor;
      color: #000;
      padding: 10px;

      p {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
				}
			}

      ul {
        list-style: square;
        margin-left: 20px;
        padding: 0 0 0 10px;
			}

      ol {
        margin-left: 20px;
        padding: 0 0 0 10px;
			}

      a {
        color: #000;
        font-style: normal;
        text-decoration: underline;
			}
		}
	}
}

.ski .faq-list .faq-question {
  .question {
    color: $skiColor;

    span {
      border-left: 8px solid transparent;
      border-top: 15px solid $skiColor;
		}
	}

  &.collapsed .question span {
    border-left: 15px solid $skiColor;
    border-top: 8px solid transparent;
	}

  .answer {
    background: $skiColor;
	}
}

.surf .faq-list .faq-question {
  .question {
    color: $surfColor;

    span {
      border-left: 8px solid transparent;
      border-top: 15px solid $surfColor;
		}
	}

  &.collapsed .question span {
    border-left: 15px solid $surfColor;
    border-top: 8px solid transparent;
	}

  .answer {
    background: $surfColor;
	}
}

.skate .faq-list .faq-question {
  .question {
    color: $skateColor;

    span {
      border-left: 8px solid transparent;
      border-top: 15px solid $skateColor;
		}
	}

  &.collapsed .question span {
    border-left: 15px solid $skateColor;
    border-top: 8px solid transparent;
	}

  .answer {
    background: $skateColor;
	}
}

@media screen and (min-width: $breakpoint-medium) {
  .faq-nav {
    ul {
      text-align: left;

      li a {
        font-size: 1.875em; // 30 / 16
        width: 120px;
			}
		}
	}

  .faq-categories {
    float: right;
    width: 25%;

    h2 {
      display: block;
      margin-bottom: 10px;
		}

    .desktop-nav {
      display: block;

      ul li {
        margin-bottom: 6px;

        a {
          color: #fff;
          text-transform: uppercase;
				}
			}
		}

    .mobile-nav {
      display: none;
		}
	}
}
