// ==========================================================================
// COMPONENTS/_GLOBAL.SCSS
// ==========================================================================

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

body {
  background: #000;
}

.container-fluid {
  .section-content {
    max-width: 1100px;
    margin: 0 auto;
  }
}

button,
.button {
  @include transition(background);
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1.125em; // 18 / 16
  font-style: normal;
  padding: 2px 20px;
  display: inline-block;
  text-transform: capitalize;

  &:hover,
  &:focus {
    background: #FFF;
    color: #000;
    text-decoration: none;
  }
}

.close-btn {
  background: #000 url('../img/icon-close.png') no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
}

.icon-play {
  background: url('../img/icon-play.png') no-repeat;
  background-size: 200% 100%;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.post-meta {
  color: #666;
  font-size: 1.125em; // 18 / 16
}

.bg1,
.bg2,
.bg3,
.bg-product-snow,
.bg-product-ski,
.bg-product-surf,
.bg-product-skate,
.bg-product-details,
.bg-product-outerwear {
  background-color: #000;
  background-position: center top;
  padding-bottom: 50px;
}

.bg1-top,
.bg2-top,
.bg3-top,
.bg-product-snow-top,
.bg-product-ski-top,
.bg-product-surf-top,
.bg-product-skate-top,
.bg-product-details-top,
.bg-product-outerwear-top {
  background-position: center top;
  background-repeat: repeat-x;
  clear: both;
  height: 50px;
  margin-top: -50px;
  width: 100%;
}

.bg1-top {
  background-image: url('../img/bg1-top.png');
}

.bg2 {
  background-image: url('../img/bg2.png');
}

.bg2-top {
  background-image: url('../img/bg2-top.png');
}

.bg3 {
  background-image: url('../img/bg3.jpg');
}

.bg3-top {
  background-image: url('../img/bg3-top.png');
}

.bg-product-snow {
  background-image: url('../img/bg-product-snow.png');
}

.bg-product-snow-top {
  background-image: url('../img/bg-product-snow-top.png');
}

.bg-product-ski {
  background-image: url('../img/bg-product-ski.png');
}

.bg-product-ski-top {
  background-image: url('../img/bg-product-ski-top.png');
}

.bg-product-surf {
  background-image: url('../img/bg-product-surf.png');
}

.bg-product-surf-top {
  background-image: url('../img/bg-product-surf-top.png');
}

.bg-product-skate {
  background-image: url('../img/bg-product-skate.png');
}

.bg-product-skate-top {
  background-image: url('../img/bg-product-skate-top.png');
}

.bg-product-details {
  background-image: url('../img/bg-product-details.jpg');
}

.bg-product-details-top {
  background-image: url('../img/bg-product-details-top.png');
}

.bg-product-outerwear {
  background-image: url('../img/bg-product-outerwear.jpg');
}

.bg-product-outerwear-top {
  background-image: url('../img/bg-product-outerwear-top.png');
}

.bg-texture-gradient {
  background-image: url('../img/bg-texture-gradient.png');
  background-repeat: repeat-x;
  background-size: cover;
}

.page-template-default {
  .default-page {
    .section-content {
      padding-left: 20px;
      padding-right: 20px;

      h1 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      ul {
        list-style: square;
        margin: 0 0 20px 25px;
      }
    }
  }
}

// PRICE General Styles
//-------------------------------------------------------------------------------

.price {
  .us-price,
  .ca-price,
  .eur-price {
    color: #fff;
    display: none;

    &.active {
      display: block;
      margin: 0;
    }

    &.strike {
      text-decoration: line-through;
    }

    .currency-note {
      font-size: .8em;
    }
  }
}

.snow .price {
  .active {
    .currency-note {
      color: $snowColor;
    }
  }
}

.ski .price {
  .active {
    .currency-note {
      color: $skiColor;
    }
  }
}

.surf .price {
  .active {
    .currency-note {
      color: $surfColor;
    }
  }
}

.skate .price {
  .active {
    .currency-note {
      color: $skateColor;
    }
  }
}

.video-header {
  padding-bottom: 20px;

  &.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .section-content {

    h1 {
      color: $snowColor;
      margin-bottom: 20px;

      &.ski {
        color: $skiColor;
      }

      &.surf {
        color: $surfColor;
      }

      &.skate {
        color: $skateColor;
      }
    }

    .video-player {
      padding-bottom: 10px;
    }

    .video-text {
      h3 {
        color: #000;
        margin-bottom: 10px;
      }

      p {
        color: #FFF;
        font-size: 1em;
        margin-bottom: 10px;
      }

      ul {
        list-style: square;
        margin: 0 0 10px 20px;

        li {
          color: #000;
          font-size: .875em; // 14 / 16
          line-height: 1.32;
          margin-bottom: 5px;
        }
      }

      a {
        color: #000;
      }

      .entry-share {
        list-style: none;
        margin-left: 0;

        li {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .video-header {
    &.container-fluid {
      padding-left: 10px;
      padding-right: 10px;
    }

    .section-content .video-text {
      p {
        font-size: 1.125em; // 18 / 16
      }

      ul li {
        font-size: 1em; // 16 / 16
      }
    }
  }

  button,
  .button {
    font-size: 1.5em; // 24 / 16
  }

  .bg-texture-gradient {
    background-size: auto 100%;
  }
}

@media screen and (min-width: $breakpoint-large) {

}

@media screen and (min-width: $breakpoint-xxlarge) {
  .section-content {
    margin: 0 auto;
    max-width: 1640px;
  }

  .container-fluid {
    max-width: 100%;
  }
}
