// ==========================================================================
// COMPONENTS/_HOME-SPORT.SCSS
// ==========================================================================

.instagram-feed {
  .social-links {
    .social-link-sport {
      text-align: right;
      text-transform: uppercase;
      font-size: 1.125em; //18 / 16

      &.skate {
        color: $skateColor;
      }

      &.surf {
        color: $surfColor;
      }

      &.snow {
        color: $snowColor;
      }

      &.ski {
        color: $skiColor;
      }
    }
  }
}

.home-sport-team {
  &.container-fluid {
    padding: 30px 0 60px;
  }

  .home-sport-team-item {
    padding-bottom: 20px;
  }

  .call-to-action {
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .home-sport-team {
    &.container-fluid {
      padding: 30px 10px 60px;
    }
  }
}
