// ==========================================================================
// COMPONENTS/_HOME-SPORT.SCSS
// ==========================================================================

.social-links-page {
  padding-bottom: 20px;

  .social-link-sport {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.125em; //18 / 16

    &.skate {
      color: $skateColor;
    }

    &.surf {
      color: $surfColor;
    }

    &.snow {
      color: $snowColor;
    }

    &.ski {
      color: $skiColor;
    }
  }

  li {
    padding: 0 10px 10px 0;
		float: left;
    width: 30px;
    height: 30px;

    a {
      display: block;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
      background: url('../img/icon-facebook.png');
      background-repeat: no-repeat;
      background-size: 100%;

      &.instagram {
        background: url('../img/icon-instagram.png');
        background-size: 100%;
      }

      &.vimeo {
        background: url('../img/icon-vimeo.png');
        background-size: 100%;
      }

      &.twitter {
        background: url('../img/icon-twitter.png');
        background-size: 100%;
      }
    }
  }
}

.home-sport-team {
  &.container-fluid {
    padding: 30px 0 60px;
  }

  h2 {
		display: none;
	}

  .team-item-info {
    display: none;
  }

  .home-sport-team-item {
    padding-bottom: 20px;
    display: none;

    @for $i from 1 through 4 {
      &.item-#{$i} { display: block; }
    }
  }

  &.expand {
    .home-sport-team-item {
      display: block;

      img {
        @include transition(opacity, 300ms);

        &.lazy {
          @include vendorize(opacity, 0);
        }

        &.loaded {
          @include vendorize(opacity, 1);
        }
      }
    }

    .call-to-action {
      display: none;
    }
  }

  .call-to-action {
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .home-sport-team {
    &.container-fluid {
      padding: 30px 10px 60px;
    }

    h2 {
			display: block;
			padding-bottom: 30px;
    }

    a.team-item-link {
      display: block;
      position: relative;
    }

    .team-item-info {
      @include transition(opacity);
      @include vendorize(opacity, 0);
      background: rgba(0, 0, 0, .75);
      display: block;
      font-style: normal;
      height: 101%;
      position: absolute;
      text-align: center;
      width: 101%;
      overflow: hidden;

      .team-item-name {
        @include transition(transform);
        @include vendorize(transform, translate(0, -15px));
        margin-bottom: .2em;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #FFF;
      }

      .team-item-category {
        @include transition(transform);
        @include vendorize(transform, translate(0, -5px));
        color: #fff;
        font-size: 1em;
        text-transform: capitalize;
      }
    }

    a.team-item-link:hover,
    a.team-item-link:focus {
      .team-item-info {
        @include vendorize(opacity, 1);
        overflow: hidden;

        .team-item-name,
        .team-item-category {
          @include vendorize(transform, translate(0, 0));
        }
      }
    }

    .vertical-center {
      @include vendorize(transform, translateY(-50%));
      position: relative;
      top: 50%;
      width: 100%;
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .home-sport-team {
    .team-item-info {
      .team-item-name {
        font-size: 2em;
      }

      .team-item-category {
        font-size: 1.25em;
      }
    }
  }
}
