/* ==========================================================================
   COMPONENTS/_HOMEPAGE.SCSS
   ========================================================================== */

.homepage-posts {
	padding-left: 20px;
	padding-right: 20px;

	h2 {
		padding-bottom: 20px;
	}
	.homepage-post {
		&:nth-child(5),
		&:nth-child(6) {
			display: none;
		}
		.post-wrapper {
			padding-bottom: 20px;

			a,
			a:hover,
			a:focus {
				text-decoration: none;
				font-style: normal;
			}
			a {
				img {
					padding-bottom: 10px;
					width: 100%;
				}
				.post-title {
					padding-bottom: 10px;
					word-wrap: break-word;
				}
				.post-meta {
					padding-bottom: 10px;
					font-size: 1em; /* 16 / 16 */

					span {
						color: #fff;
					}
				}
				.post-excerpt {
					color: #fff;
					padding-bottom: 5px;
					display: none;
				}
				.post-more {
					font-style: italic;
					font-size: 1em; /* 16 / 16 */
				}
			}
			a:hover .post-title,
			a:focus .post-title {
				color: $snowColor;
			}
			a:hover .post-meta,
			a:focus .post-meta {
				color: $snowColor;
			}
			a:hover .post-more,
			a:focus .post-more {
				text-decoration: underline;
			}
		}
	}
}
.skate .homepage-posts .homepage-post .post-wrapper{
	a:hover .post-title,
	a:focus .post-title,
	a:hover .post-meta time,
	a:focus .post-meta time {
		color: $skateColor;
	}
} 
.homepage-sports-top,
.homepage-links-top {
	display: none;
}
.homepage-sports,
.homepage-links {
	padding-left: 10px;
	padding-right: 10px;
	display: none;

	h2 {
		padding: 0 10px;
	}
}
.homepage-sports {
	.section-content {
		ul {
			li.homepage-sport {
				width: 25%;
				float: left;

				.sport-wrapper {
					padding: 10px;

					a {
						h4 {
							font-style: normal;
						}
						&:hover h4,
						&:focus h4 {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
.homepage-links {
	.section-content {
		ul {
			li.homepage-link {
				width: 20%;
				float: left;

				.link-wrapper {
					padding: 10px;

					a {
						h4 {
							font-style: normal;

							span {
								text-transform: lowercase;
							}
						}
						&:hover h4,
						&:focus h4 {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: $breakpoint-small) {
	.homepage-posts {
		padding-left: 10px;
		padding-right: 10px;

		h2 {
			padding: 0 10px;
		}
		.homepage-post {
			float: left;
			width: 50%;

			&:nth-child(odd) {
				clear: left;
			}
			.post-wrapper {
				padding: 10px;
			}
		}
	}
	.homepage-sports-top,
	.homepage-links-top,
	.homepage-sports,
	.homepage-links {
		display: block;
	}
}
@media screen and (min-width: $breakpoint-medium) {
	.homepage-posts {
		.homepage-post {
			float: left;
			width: 33.3333%;

			&:nth-child(odd) {
				clear: none;
			}
			&:nth-child(4) {
				clear: left;
			}
			&:nth-child(5),
			&:nth-child(6) {
				display: block;
			}
			a {
				.post-meta,
				.post-more {
					font-size: 1.125em; /* 18 / 16 */
				}
				.post-excerpt {
					display: block;
				}
			}
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.homepage-posts {
		h2 {
			padding: 0 10px;
		}
		.homepage-post {
			float: left;
			width: 25%;

			&:nth-child(5),
			&:nth-child(6) {
				display: none;
			}
			&:nth-child(4) {
				clear: none;
			}
			.post-wrapper {
				padding: 10px;

				a {
					.post-meta,
					.post-more {
						font-size: 1.125em; /* 18 / 16 */
					}
				}
			}

		}
	}
}
@media screen and (min-width: $breakpoint-xlarge) {
	.homepage-posts {
		.homepage-post {
			float: left;
			width: 20%;

			&:nth-child(5) {
				display: block;
			}
			&:nth-child(6) {
				display: none;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-xxlarge) {
	.homepage-posts {
		.section-content {
			max-width: 1620px;
		}
		.homepage-post {
			float: left;
			width: 16.6666%;

			&:nth-child(6) {
				display: block;
			}
		}
	}
	.homepage-sports .section-content,
	.homepage-links .section-content {
		max-width: 1604px;
	}
}
