/* ==========================================================================
   COMPONENTS/_LBS.SCSS
   ========================================================================== */

.lbs-details {
	.section-content {
		padding: 0 20px;

		h1, p {
			margin-bottom: 10px;
		}
	}
}
.lbs-updates {
	.section-content {
		padding: 0 20px;

		.featured-video {
			margin-bottom: 20px;

			h2, .video-player, .video-copy p {
				margin-bottom: 10px;
			}
		}
		.blog-posts {
			margin-bottom: 20px;
			padding: 0;
			
			h2 {
				margin-bottom: 10px;
				padding: 0;
			}
			a.archive-link {
				background: $snowColor;
				padding: 5px 10px;
				color: #000;
				display: inline-block;
			}
		}
	}
}
.lbs-demo {
	.section-content {
		padding: 0 20px;

		.demo-info {
			h2, p, img {
				margin-bottom: 10px;
			}
		}
		.demo-products {
			ul li {
				padding: 0 0 20px;
				width: 50%;
				float: left;
				overflow: hidden;

				&:nth-child(odd) {
					clear: left;
				}
				a {
					text-align: center;

					img {
						width: 140%;
						margin-left: -20%;
						height: auto;
						max-width: 200%;
					}
				}
			}
		}
	}
}
.lbs-contest {
	.section-content {
		padding: 0 20px;

		h2, p, blockquote {
			margin-bottom: 10px;
		}
		blockquote {
			margin-left: 20px;
			font-style: italic;
			line-height: 1.3em;
		}
	}
}
@media screen and (min-width: $breakpoint-small) {
	.lbs-contest {
		.section-content {
			h2 {
				float: left;
			}
			.social-links {
				float: right;
			}
			p {
				clear: both;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-medium) {
	.lbs-updates {
		.section-content {
			.featured-video {
				.video-player {
					width: 50%;
					float: left;
				}
				.video-copy {
					width: 50%;
					float: left;

					p {
						padding-left: 20px;
					}
				}
			}
		}
	}
	.lbs-demo {
		.section-content {
			padding: 0 20px;

			.demo-info {
				width: 50%;
				float: left;

				h2, p, img {
					margin-bottom: 10px;
				}
			}
			.demo-products {
				width: 50%;
				float: left;

				ul {
					padding-left: 20px;
				}
			}
		}
	}
}
@media screen and (min-width: $breakpoint-xxlarge) {
	.lbs-updates {
		.section-content {
			.featured-video {
				width: 40%;
				float: left;

				.video-player {
					width: auto;
					float: none;
					padding-right: 10px;
				}
				.video-copy {
					width: auto;
					float: none;
					padding-right: 10px;

					p {
						padding-left: 0px;
					}
				}
			}
			.blog-posts {
				width: 60%;
				float: left;

				h2 {
					margin-left: 10px;
				}

				.blog-post {
					width: 33%;
				}
				a.archive-link {
					margin-left: 10px;
				}
			}
		}
	}
	.lbs-demo {
		.section-content {
			.demo-info {
				width: 40%;
			}
			.demo-products {
				width: 60%;
				padding-top: 125px;

				ul li {
					width: 25%;

					&:nth-child(odd) {
						clear: none;
					}
				}
			}
		}
	}
}
