// ==========================================================================
// COMPONENTS/_OVERVIEW.SCSS
// ==========================================================================

.overview-wrapper {
  &.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .section-content {
    .overview-header {
      margin-bottom: 5px;
    }
  }
}

.overview-item {
  padding: 10px 0;

  .overview-sport {
    h1 {
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 10px;
    }

    img {
      margin-bottom: 5px;
      width: 100%;
    }
  }

  .overview-copy {
    h3 {
      font-size: 1em;
      margin-bottom: 5px;
    }

    p {
      padding-bottom: 20px;

			strong {
				padding-bottom: 5px;
			}
    }

    .call-to-action {
      text-align: center;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
	.overview-wrapper {
	  &.container-fluid {
	    padding-left: 10px;
	    padding-right: 10px;
	  }
	}
}
