// ==========================================================================
// COMPONENTS/_PASS-IT-ON-PROJECT.SCSS
// ==========================================================================

.pass-it-on-contest {
  padding-bottom: 30px;

  h1 {
    padding: 20px 10px 30px;
  }

  .contest-wrapper {
    text-align: center;

    iframe {
      background: #fff;
      padding: 20px;
      width: 100%;
    }
  }
}

.page-template-page-pass-it-on-project .video-header {

  .video-text {
    ul {
      list-style: square;
      margin: 0 0 10px 20px;
    }

    a {
      color: $snowColor;
    }
  }
}

.pass-it-on-tagboard {
  padding: 0 10px;

  h2 {
    padding: 0 10px;
  }

  .social-links {
    padding: 10px 0 0 10px;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .pass-it-on-contest {
    .contest-wrapper iframe {
      height: 1965px;
    }
  }

  .pass-it-on-tagboard {
    .section-content {
      h2 {
        float: left;
      }

      .social-links {
        float: right;
        padding: 0 0 0 10px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .pass-it-on-contest {
    .contest-wrapper iframe {
      height: 1920px;
    }
  }
}

// custom fix for old pages with video-header
.page-template-page-pass-it-on-project {
  .video-header {
    padding-bottom: 40px;
    padding-top: 30px;
  }
}
