// ==========================================================================
// COMPONENTS/_PASS-IT-ON-PROJECT.SCSS
// ==========================================================================
.pass-it-on-contest {
  h1 {
    padding: 20px;
  }

  .contest-wrapper {
    text-align: center;

    iframe {
      background: #fff;
      padding: 20px;
      width: 100%;
    }
  }
}

.page-template-page-pass-it-on-project .product-video {
  .video-wrapper {
    padding-bottom: 10px;
  }

  p {
    color: #000;
    font-size: 1.125em;
  }

  a {
    color: #000;
  }

  ul {
    list-style: square;
    margin: 0 0 10px 20px;

    li {
      color: #000;
    }
  }
}

.pass-it-on-tagboard {
  padding: 0 10px;

  h2 {
    padding: 0 10px;
  }

  .social-links {
    padding: 10px 0 0 10px;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .pass-it-on-tagboard {
    .section-content {
      h2 {
        float: left;
      }

      .social-links {
        float: right;
        padding: 0 0 0 10px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .pass-it-on-contest {
    .contest-wrapper iframe {
      width: 850px;
    }
  }
}
