/* ==========================================================================
   COMPONENTS/_PASS-IT-ON-PROJECT.SCSS
   ========================================================================== */

.pass-it-on-contest {
	padding: 0 20px;

	h2 {
		margin-bottom: 20px;
	}
	.woobox-wrapper {
		padding-bottom: 20px;
		text-align: center;
	}
	.product-wrapper {
		padding-bottom: 40px;

		.product {
			width: 50%;
			float: left;

			&:nth-child(odd) {
				h4, p, .product-image {
					padding-right: 10px;
				}
			}
			&:nth-child(even) {
				h4, p, .product-image {
					padding-left: 10px;
				}
			}
			.product-image {
				padding-top: 10px;
			}
		}
	}
}
.pass-it-on-tagboard {
	padding: 0 10px;

	h2 {
		padding: 0 10px;
	}
	.social-links {
		padding: 10px 0 0 10px;
	}
}
@media screen and (min-width: $breakpoint-small) {
	.pass-it-on-tagboard {
		.section-content {
			h2 {
				float: left;
			}
			.social-links {
				float: right;
				padding: 0 0 0 10px;
			}
		}
	}
}
@media screen and (min-width: $breakpoint-large) {
	.pass-it-on-contest {
		.woobox-wrapper {
			padding-bottom: 40px;
			text-align: left;
			width: 50%;
			float: left;
		}
		.product-wrapper {
			padding-bottom: 40px;
			width: 50%;
			float: left;

			.product {
				&:nth-child(odd) {
					h4, p, .product-image {
						padding-left: 15px;
						padding-right: 0;
					}
				}
				&:nth-child(even) {
					h4, p, .product-image {
						padding-left: 20px;
					}
				}
			}
		}
	}
}
