// ==========================================================================
// COMPONENTS/_PRODUCT-DETAILS.SCSS
// ==========================================================================

.product-details-nav {
  display: none;
}

.product-details {

  h1 {
    padding: 0 0 20px;
    text-align: center;
  }

  h3 {
    padding: 0 0 20px;
    text-align: center;
  }

  .product-images {
    padding-bottom: 30px;
    padding-top: 30px;

    .bx-viewport {
      background: none;
    }

    ul li a {
      display: block;
      width: 160%;
      margin-left: -30%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  // Surf specific image styles
  .surf-images {
    .surfboard-top,
    .surfboard-bottom {
      cursor: pointer;
      float: left;
      width: 45%;
    }

    .surfboard-side {
      cursor: pointer;
      float: left;
      width: 10%;
    }
  }

  .image-list-thumbs {
    padding: 20px 0 40px;

    &.hidden {
      display: none;
    }

    .bx-wrapper {
      margin: 0 !important;

      .bx-viewport {
        background: none;
      }
    }

    .bx-loading {
      background: none;
    }

    li {
      float: left;

      a {
        img {
          @include vendorize(opacity, .65);
          @include transition(opacity, 200ms);
        }

        &:hover img,
        &:focus img,
        &.active img {
          @include vendorize(opacity, 1);
        }
      }
    }
  }

  .product-details-right {
    padding-top: 25px;

    .product-note-wrapper {
      clear: both;
      padding-bottom: 10px;

      .product-note {
        margin-top: -20px;
        padding-bottom: 25px;
        text-align: center;

        span {
          display: block;
        }
      }
    }
  }

  .product-price {
    clear: both;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 20px;

    .price-logo,
    .price-graphic,
    .price-logo-five,
    .price-graphic-five {
      display: none;

      &.active {
        display: inline-block;
      }
    }

    .price {
      display: inline-block;
    }

    .price-alert {
      display: none;
    }
  }

  .product-stock-alert p {
    color: #fff;
    display: none;
    margin-bottom: 10px;

    &.active {
      display: block;
    }
  }

  .product-variations {
    display: none;
    margin-bottom: 30px;
  }

  .product-alert p {
    display: none;
  }

  .product-buy {
    margin-bottom: 55px;

    ul li {
      &.loading {
        background: url('../img/loader.gif') center center no-repeat #000;
        height: 20px;
        margin-bottom: 20px;
        width: 64px;

        &.hidden {
          display: none;
        }
      }

      &.cart-button {
        display: none;
        margin-bottom: 10px;

        .add-to-cart {
          display: inline-block;
          text-decoration: none;
        }

        img {
          float: right;
        }
      }

      &.find-dealer {
        font-weight: normal;
        margin-bottom: 10px;
        margin-top: 20px;
        text-align: left;

        a {
          color: #999;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: #FFF;
          }
        }
      }
    }

    .cart-success,
    .cart-failure {
      border: dashed 2px $snowColor;
      color: #fff;
      padding: 10px 10px 0;

      p {
        margin-bottom: 10px;

        .cart-link {
          background: $snowColor;
          color: #000;
          font-size: 1.2em;
          padding: 2px 8px 2px 4px;
          text-transform: uppercase;
        }
      }
    }

    .cart-success.hidden,
    .cart-failure.hidden {
      display: none;
    }
  }

  &.available {
    .product-price .price-alert {
      &.usd {
        display: block;
      }
    }

    .product-variations {
      display: block;
    }

    .product-alert {
      p {
        margin-top: -10px;
        padding-bottom: 10px;

        span {
          color: $snowColor;
        }
      }

      &.low p.low-inventory,
      &.no p.no-inventory {
        display: block;
      }
    }

    .product-buy ul li {
      &.cart-button {
        display: block;

        &.hidden {
          display: none;
        }
      }

      &.unavailable {
        display: none;
      }
    }
  }

  .product-quick-specs {
    margin-bottom: 30px;

    li {
      margin-bottom: 5px;

      span {
        color: $snowColor;
        padding-right: 10px;
        text-transform: uppercase;

        &.us-sizes,
        &.eu-sizes {
          color: #ccc;
        }
      }
    }
  }

  .product-description {
    margin-bottom: 30px;
    padding-top: 25px;

    p {
      font-size: 1.1em;
      margin-bottom: 10px;
    }

    ul {
      font-size: 1.1em;
      list-style: square;
      margin: 0 0 10px 25px;

      li {
        margin: 0 0 5px;
      }
    }
  }

  .product-share {
    display: none;
  }

  .view-tech-link,
  .view-video-link,
  .specs-link {
    text-transform: uppercase;
  }
}

.view-arrow {
  @include transition(all, 100ms);
  @include vendorize(transform, translate(0, 0));
  background: url('../img/sprite.png');
  display: inline-block;
  height: 14px;
  margin-left: 5px;
  width: 14px;
}

.view-tech-link,
.view-video-link {
  &:hover {
    text-decoration: none;

    .view-arrow {
      @include vendorize(transform, translate(5px, 0));
    }
  }
}

.single-libtech_snowboards {
  .view-arrow {
    background-position:  -409px 0;
  }
}

.single-libtech_nas {
  .view-arrow {
    background-position: -409px -24px;
  }
}

.single-libtech_surfboards {
  .view-arrow {
    background-position: -409px -49px;
  }
}

.single-libtech_skateboards {
  .view-arrow {
    background-position: -409px -74px;
  }
}

.currency-eur .product-details {
  &.available {
    .product-price .price-alert {
      &.usd {
        display: none;
      }

      &.cad {
        display: none;
      }

      &.eur {
        display: block;
      }
    }
  }
}

.currency-usd .product-details {
  &.available {
    .product-price .price-alert {
      &.eur {
        display: none;
      }
    }
  }
}

.currency-eur .product-details .product-quick-specs li span.us-sizes {
  display: none;
}

.currency-usd,
.currency-cad,
.currency-int {
  .product-details .product-quick-specs li {
    span.eu-sizes {
      display: none;
    }
  }
}

.international {
  .product-details.available {
    .product-price,
    .product-variations,
    .product-alert {
      display: none;
    }

    .product-buy {
      .cart-button {
        display: none;
      }

      .unavailable {
        display: block;
      }
    }
  }
}

// Ski specific product details styles
.ski .product-details {
  h1 {
    padding-bottom: 5px;
  }

  .product-alert p span {
    color: $skiColor;
  }

  .product-buy {

    .cart-success,
    .cart-failure {
      border-color: $skiColor;
    }

    .cart-success p .cart-link {
      background-color: $skiColor;
    }
  }

  .product-quick-specs li span {
    color: $skiColor;

    &.us-sizes,
    &.eu-sizes {
      color: #ccc;
    }
  }
}

.single-libtech_nas .product-details {
  h1 {
    padding-bottom: 5px;
  }

  .nas-tech {
    color: #ccc;
    font-style: italic;
    padding-top: 0;
  }

  .product-images {
    padding-bottom: 30px;

    ul li a {
      margin-left: 0;
      width: 100%;
    }

    .bx-controls {
      display: none;
    }
  }
}

.surf .product-details {
  .product-alert p span {
    color: $surfColor;
  }

  .product-buy {
    ul li.cart-button .button {
      float: left;
    }

    .cart-success,
    .cart-failure {
      border-color: $surfColor;
    }

    .cart-success p .cart-link {
      background-color: $surfColor;
    }
  }

  .product-quick-specs li span {
    color: $surfColor;

    &.us-sizes,
    &.eu-sizes {
      color: #ccc;
    }
  }
}

.skate .product-details {
  .product-alert p span {
    color: $skateColor;
  }

  .product-buy {

    .cart-success,
    .cart-failure {
      border-color: $skateColor;
    }

    .cart-success p .cart-link {
      background-color: $skateColor;
    }
  }

  .product-quick-specs li span {
    color: $skateColor;

    &.us-sizes,
    &.eu-sizes {
      color: #ccc;
    }
  }
}

.single-libtech_apparel .product-details .product-images ul li a,
.single-libtech_accessories .product-details .product-images ul li a {
  margin-left: 0;
  width: 100%;
}

.product-zoom {
  display: none;

  .section-content {
    min-height: 250px;
    position: relative;

    .zoom-title {
      margin: 0 auto;
      max-width: 45%;
      text-align: center;

      .h5 {
        color: #fff;
      }
    }

    .zoom-image {
      img {
        width: 100%;
        padding-bottom: 30px;
        padding-top: 30px;

        &.surfboard-top,
        &.surfboard-bottom {
          float: left;
          width: 45%;
        }

        &.surfboard-side {
          float: left;
          width: 10%;
        }
      }
    }

    .zoom-controls {
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 200px;

      .zoom-close {
        margin-bottom: 30px;
        margin-top: 5px;
      }

      ul {
        clear: both;

        &.hidden {
          display: none;
        }

        li {
          float: left;
          padding: 0 0 10px;

          a {
            img {
              @include vendorize(opacity, .65);
              @include transition(opacity, 200ms);
            }

            &:hover img,
            &:focus img,
            &.active img {
              @include vendorize(opacity, 1);
            }
          }
        }
      }
    }
  }
}

// custom zoom thumbnail layout for surfboards
.single-libtech_surfboards .product-zoom .section-content .zoom-controls {
  padding: 20px;
  position: relative;
  right: 0;
  width: 100%;

  .zoom-close {
    clear: none;
    position: absolute;
    right: 20px;
    top: -50px;
  }

  ul {
    clear: none;
  }

  .bx-wrapper {
    .bx-loading {
      background: none;
    }

    .bx-viewport {
      background: none;
    }
  }
}

.product-extras {

  .product-description {
    padding-bottom: 10px;
    padding-top: 25px;

    p {
      font-size: 1.1em;
      margin-bottom: 20px;
    }

    ul {
      font-size: 1.1em;
      list-style: square;
      margin: 0 0 20px 25px;

      li {
        margin: 0 0 5px;
      }
    }

    .wp-caption {
      width: auto !important;

      img {
        height: auto;
      }
    }
  }

  .product-awards {
    padding-bottom: 10px;
    padding-top: 25px;

    h3 {
      margin-bottom: 10px;
    }

    ul li {
      float: left;
      padding: 0 20px 20px 0;
      position: relative;
      width: 120px;

      img {
        height: auto;
        max-width: 100%;
      }

      .tool-tip {
        @include vendorize(opacity, 0);
        @include transition(opacity, 200ms);
        background: #fff100;
        background: rgba(255, 250, 5, .9);
        border: solid 2px #000;
        border-radius: 10px;
        color: #000;
        display: block;
        font-size: .75em;
        font-weight: bold;
        left: -20px;
        padding: 10px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 15px;
        visibility: hidden;
        width: 140px;
        z-index: 100;
      }

      &:hover .tool-tip {
        @include vendorize(opacity, 1);
        visibility: visible;
      }
    }
  }

  .product-specs {
    overflow: hidden;
    // padding-bottom: 30px;
    padding-top: 25px;

    h3 {
      margin-bottom: 10px;
    }

    table {
      width: 100%;
      margin-bottom: 30px;

      thead {
        background: #333;

        th {
          font-size: 11px;
          padding: 10px;
          text-align: left;
          text-transform: uppercase;
          vertical-align: top;

          &:nth-child(4),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(9) {
            display: none;
          }

          span {
            font-size: 9px;
            font-weight: normal;
          }
        }
      }

      tbody {
        tr {
          background: #000;

          &:nth-child(even) {
            background: #181818;
          }

          td {
            padding: 10px;

            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(9) {
              display: none;
            }
          }
        }
      }

      tfoot {
        background: #333;

        td {
          font-size: 11px;
          padding: 10px;
          text-transform: uppercase;
          vertical-align: top;

          a {
            font-weight: bold;
          }

          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8),
          &:nth-child(9) {
            display: none;
          }
        }
      }
    }
  }

  .product-tech-major {

    h3 {
      margin-bottom: 10px;
    }

    .tech-image {
      display: none;
    }

    .item {

      ul {
        font-size: 1.1em;
        list-style: square;
        margin: 0 0 20px 25px;

        li {
          margin: 0 0 5px;
        }
      }
    }
  }

  .outerwear-fit {
    padding-top: 25px;

    li {
      padding-bottom: 20px;

      h3 {
        margin-bottom: 10px;
      }

      a {
        text-transform: uppercase;
      }
    }
  }

  .product-tech-minor {
    // check .tech-minor
  }
}

.single-libtech_nas,
.single-libtech_snowboards,
.single-libtech_skateboards {
  .product-tech-minor {
    h3 {
      text-transform: capitalize;
      margin-bottom: 10px;
    }
  }
}

.product-video {
  padding-bottom: 30px;
  padding-top: 30px;
}

.product-gallery {
  padding-bottom: 10px;
  padding-top: 30px;
}

@media screen and (min-width: $breakpoint-small) {
  .single-libtech_skateboards,
  .single-libtech_outerwear {
    .product-details .product-images ul li a {
      margin-left: -15%;
      width: 130%;
    }
  }

  .single-libtech_snowboards .product-details .product-images ul li a {
    margin-left: -10%;
    width: 120%;
  }

  .single-libtech_surfboards .product-details .surf-images {
    width: 110%;
    margin-left: -5%;
  }

  .product-zoom.show {
    display: block;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .product-details-nav {
    position: relative;
    z-index: 1;

    &.active {
      display: block;
      margin-top: -50px;

      .section-content {
        margin-top: -265px;
        padding-bottom: 35px;
      }
    }

    .product-peek {
      .product-title,
      .product-type {
        font-size: 0.8em;
      }
    }
  }

  .product-details-nav-btn {
    position: relative;
    z-index: 3;

    .toggle-btn {
      background: url('../img/sprite.png') -79px -39px;
      bottom: 40px;
      cursor: pointer;
      display: block;
      height: 25px;
      left: 50%;
      margin-left: -25px;
      position: absolute;
      width: 50px;

      &:hover,
      &:focus {
        background-color: #666;
        background-position: -37px -39px;
      }

      &.expanded {
        background-position: -79px -61px;

        &:hover,
        &:focus {
          background-position: -37px -61px;
        }
      }
    }
  }

  .product-details-nav-bottom {
    position: relative;
    z-index: 2;
  }

  .single-libtech_accessories,
  .single-libtech_apparel,
  .single-libtech_surfboards {
    .product-details-nav {
      ul {
        li {
          a {
            img {
              margin-left: 0;
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .product-details {
    .share-wrapper {
      padding-bottom: 25px;

      .product-share {
        display: block;
        margin-left: -10px;
        margin-right: -10px;

        li {
          padding-top: 20px;
          text-align: left;
          width: 100px;
        }
      }
    }
  }

  .product-details {

    h1 {
      text-align: left;
    }

    h3 {
      text-align: left;
    }

    .product-images {
      padding-bottom: 30px;
    }
  }

  .product-extras {
    .product-tech-major {
      .tech-image {
        display: block;
        margin-bottom: 0;
      }
    }
  }
}
