// ==========================================================================
// COMPONENTS/_PRODUCT-OVERVIEW.SCSS
// ==========================================================================

.product-overview {
  .section-content {
    h1 {
      padding: 0 0 20px 20px;
    }

    .view-clearance {
      display: block;
      text-align: center;
    }
  }
}

.product-listing {
  .product-item {
    float: left;
    overflow: hidden;
    padding-bottom: 40px;
    text-align: center;
    width: 18%;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        h5 {
          color: #fff;
        }
      }
    }

    .product-img {
      @include transition(opacity, 300ms);
      height: auto;
      margin-left: -20%;
      max-width: 200%;
      width: 140%;

      &.lazy {
        @include vendorize(opacity, 0);
      }

      &.loaded {
        @include vendorize(opacity, 1);
      }
    }

    .colorways {
      min-height: 32px;
      text-align: center;

      .swatch {
        border: 1px solid #fff;
        display: inline-block;
        height: 22px;
        margin: 0 3px;
        width: 22px;

        img {
          width: 100%;
        }

        &:hover,
        &:focus,
        &.active {
          border-color: #666;
        }
      }
    }

    .price p {
      font-size: .75em;
    }
  }

  &.bindings li.product-item img.product-img,
  &.surfboards li.product-item img.product-img,
  &.apparel li.product-item img.product-img,
  &.clearance li.product-item img.product-img,
  &.accessories li.product-item img.product-img,
  &.luggage li.product-item img.product-img {
    margin-left: 0;
    width: 90%;
  }
}

.international .product-listing .price {
  display: none;
}

.currency-int,
.currency-eur {
  .product-listing .product-item.superbanana {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .product-listing .price p {
    font-size: .875em;
  }
}
@media screen and (min-width: $breakpoint-large) {
  .product-overview .section-content h1 {
    float: left;
  }
}
