// ==========================================================================
// COMPONENTS/_RIPPERS.SCSS
// ==========================================================================

.team-members {
	.section-content {
		padding-left: 10px;
		padding-right: 10px;

		h2 {
			margin: 10px 0 20px 10px;
		}

		ul {
			li {
				margin-bottom: 20px;

				a {
					padding: 0 10px;
					display: block;

					img {
						width: 100%;
					}
					h3 {
						font-style: normal;
					}
				}
			}
		}
	}
}

.ripper-details {
	padding-top: 60px;
	margin-top: -40px;

	.section-content {
		padding: 0 20px;

		h1, .ripper-gallery {
			margin-bottom: 10px;
		}

		.ripper-gallery .profile-photo {
			height: auto;
		}

		.ripper-right {
			.ripper-meta {
				margin-bottom: 20px;

				.ripper-home, .ripper-sponsors {
					margin-bottom: 5px;

					span {
						font-weight: bold;
						text-transform: uppercase;
					}
				}
			}

			h4 {
				margin-bottom: 20px;
			}

			.ripper-bio {
				display: none;
				margin-bottom: 20px;

				p {
					margin-bottom: 10px;
				}
			}

			.social-links {

			}
			.personal-site {
				padding-top: 10px;
				clear: both;
			}
		}
	}
}

.ripper-videos {
	.section-content {
		padding: 0 10px;

		.featured-videos {
			h2 {
				padding: 0 10px;
			}

			.video-player {
				padding: 10px 10px 0;

				.frame-wrapper {
					margin-bottom: 10px;
					width: 100%;
					background: #000 url('../img/loader.gif') no-repeat center center;
				}

				.video-info {
					display: none;

					&.selected {
						display: block;
					}

					h3 {
						color: #000;
						background: #fff100;
						padding: 3px 5px;
						display: inline-block;
						margin-bottom: 10px;
					}

					p {
						padding-bottom: 10px;
					}
				}
			}

			.video-thumbnails {
				li {
					display: block;
					width: 50%;
					float: left;
					padding: 10px;

					a {
						display: block;
						width: 100%;
						height: 100%;
						position: relative;
						background-size: 140%;
						background-position: center center;
						background-repeat: no-repeat;

						img {
							width: 100%;
							height: auto;
						}

						p {
							width: 100%;
							position: absolute;
							bottom: 0;
							left: 0;
							display: block;
							background: #000;
							background: rgba(0, 0, 0, .7);
							color: #fff100;
							padding: 3px 5px;
							text-transform: uppercase;
							font-weight: bold;

							transition: background 100ms ease-in-out, color 200ms ease-in-out;
							-webkit-transition: background 100ms ease-in-out, color 200ms ease-in-out;
							-moz-transition: background 100ms ease-in-out, color 200ms ease-in-out;
							-o-transition: background 100ms ease-in-out, color 200ms ease-in-out;
						}

						&:hover p,
						&:focus p,
						&.selected p {
							background: #fff100;
							background: rgba(255, 255, 0, .7);
							color: #000;
						}
					}
				}
			}
		}
	}
}

body.ski .ripper-videos .section-content .featured-videos {
	.video-player .video-info h3 {
		background: $skiColor;
	}

	.video-thumbnails li a {
		p {
			color: $skiColor;
		}

		&:hover p,
		&:focus p,
		&.selected p {
			background: $skiColor;
			background: rgba(0, 153, 255, .7);
			color: #000;
		}
	}
}

body.surf .ripper-videos .section-content .featured-videos {
	.video-player .video-info h3 {
		background: $surfColor;
	}

	.video-thumbnails li a {
		p {
			color: $surfColor;
		}

		&:hover p,
		&:focus p,
		&.selected p {
			background: $surfColor;
			background: rgba(255, 102, 0, .7);
			color: #000;
		}
	}
}

body.skate .ripper-videos .section-content .featured-videos {
	.video-player .video-info h3 {
		background: $skateColor;
	}

	.video-thumbnails li a {
		p {
			color: $skateColor;
		}

		&:hover p,
		&:focus p,
		&.selected p {
			background: $skateColor;
			background: rgba(102, 204, 0, .7);
			color: #000;
		}
	}
}

@media screen and (min-width: $breakpoint-small) {
	.team-members .section-content ul li {
		width: 49.7%;
		display: inline-block;
		vertical-align: top;
	}

	.ripper-details .section-content {
		h1 {
			width: 40%;
			float: right;
		}

		.ripper-gallery {
			width: 60%;
			float: left;

			.gallery,
			.profile-photo {
				padding-right: 20px;
			}
		}

		.ripper-right {
			width: 40%;
			float: right;
		}
	}

	.whats-new.ripper .content-grid .grid-item {
		&.product.item-1 {
			display: inline-block;
		}
	}
}

@media screen and (min-width: $breakpoint-medium) {
	.team-members .section-content ul li {
		width: 33%;
	}

	.ripper-details .section-content .ripper-right {
		.ripper-meta, h4, .ripper-bio {
			display: block;
			max-width: 600px;
		}
	}

	.ripper-videos .section-content .featured-videos .video-thumbnails li {
		width: 33.3333%;
	}
	.whats-new.ripper .content-grid .grid-item {
		&.blog.item-2 {
			display: inline-block;
		}
	}
}

@media screen and (min-width: $breakpoint-large) {
	.team-members .section-content ul li {
		width: 24.7%;
	}

	.ripper-videos .section-content .featured-videos {
		.video-player {
			width: 50%;
			float: left;
		}

		.video-thumbnails {
			width: 50%;
			float: left;
		}
	}

	.whats-new.ripper .content-grid .grid-item {
		&.instagram.item-2,
		&.product.item-2 {
			display: inline-block;
		}
	}
}

@media screen and (min-width: $breakpoint-xlarge) {
	.team-members .section-content ul li {
		width: 19.7%;
	}

	.whats-new.ripper .content-grid .grid-item {
		&.blog.item-3,
		&.blog.item-4,
		&.blog.item-5 {
			display: inline-block;
		}
	}
}
