/* ==========================================================================
   COMPONENTS/_SEARCH.SCSS
   ========================================================================== */

.search {
	.section-content {
		padding: 0 20px;
		min-height: 500px;

		.gsc-control-cse {
			.gs-result {
				.gs-title {
					text-transform: uppercase;
					font-size: 1.375em !important; /* 22 / 16 */
					line-height: 1.32;
					font-weight: 700;
					color: #fff;
					margin-bottom: 5px;

					b {
						color: $snowColor;
						font-size: 1em !important; /* 22 / 16 */
					}
				}
				.gs-image-box {
					margin-right: 10px;
				}
				.gs-visibleUrl {
					color: #ccc;
				}
			}
			.gsc-cursor-box {
				padding-top: 35px;
				text-align: center;
				.gsc-cursor {
					color: #000;
					text-transform: uppercase;
					font-weight: bold;
					font-style: normal;
					font-size: 1.375em !important; /* 22 / 16 */
					padding: 10px 3px;
					
					.gsc-cursor-page {
						margin: 10px;
						text-decoration: none;

						&:hover,
						&:focus {
							text-decoration: underline;
						}


						&.gsc-cursor-current-page {
							color: #666;
						}
					}
				}
			}
		}
	}
}

.ski {
	.gsc-cursor {
		background: $skiColor;
	}
	.search .section-content .gsc-control-cse .gs-result .gs-title b,
	.gs-spelling a {
		color: $skiColor;
	}
}
.surf {
	.gsc-cursor {
		background: $surfColor;
	}
	.search .section-content .gsc-control-cse .gs-result .gs-title b,
	.gs-spelling a {
		color: $surfColor;
	}
}
.snow {
	.gsc-cursor {
		background: $snowColor;
	}
	.search .section-content .gsc-control-cse .gs-result .gs-title b,
	.gs-spelling a {
		color: $snowColor;
	}
}
.skate {
	.gsc-cursor {
		background: $skateColor;
	}
	.search .section-content .gsc-control-cse .gs-result .gs-title b,
	.gs-spelling a {
		color: $skateColor;
	}
}