/* ==========================================================================
   COMPONENTS/_SUPPORT.SCSS
   ========================================================================== */

.support {
	.section-content {
		padding: 0 20px;
		h1 {
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 10px;
		}
		.support-content {
			.support-copy {
				padding-bottom: 20px;
			}
			.support-left {
				.support-form {
					margin-left: -5px;
				}
			}
		}
	}
}

@media screen and (min-width: $breakpoint-medium) {
	.support .section-content .support-content {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (min-width: $breakpoint-large) {
	.support .section-content .support-content {
		width: 75%;
	}
}

@media screen and (min-width: $breakpoint-xlarge) {
	.support .section-content {
		.entry-header {
			width: 25%;
			float: left;
		}
		.support-content {
			width: 50%;
			float: left;
			padding-top: 20px;
		}
	}
}