/* ==========================================================================
   COMPONENTS/_SUPPORT.SCSS
   ========================================================================== */


@media screen and (min-width: $breakpoint-medium) {

	.contact-content {
		.contact-left {
			width: 50%;
			float: left;
			padding-right: 60px;

			.contact-form {
				margin-left: -1%;
			}
		}
		.contact-details {
			width: 45%;
			float: right;
		}
	}
	.warranty-content {
		.warranty-copy {
			padding-bottom: 20px;
		}
		.warranty-left {
			.warranty-form {
				margin-left: -1%;
			}
		}
	}
}

@media screen and (min-width: $breakpoint-large) {

}

@media screen and (min-width: $breakpoint-xlarge) {

	.warranty-content {
		.warranty-copy {
			width: 50%;
			float: right;
		}
		.warranty-left{
			width: 50%;
			float: left;
		}
	}
}