// ==========================================================================
// COMPONENTS/_TAKEOVER.SCSS
// ==========================================================================

.takeover {
  background: #000;
  position: relative;
  width: 100%;
  z-index: 4;

  .takeover-content {
    margin: 0 auto;
    max-width: 1640px;
    position: relative;
    text-align: center;
	}

  .message {
    color: #fff;
    display: none;
    font-style: normal;
    padding: 5px;

    &.usd {
      display: block;
    }
  }
}

.international .takeover {
  display: none;
}

.currency-cad .takeover {
  .usd {
    display: none;
  }

  .cad {
    display: block;
  }
}

.currency-eur .takeover {
  .usd {
    display: none;
  }

  .eur {
    display: block;
  }
}
