/* ==========================================================================
   COMPONENTS/_TAKEOVER.SCSS
   ========================================================================== */

.takeover {
	max-width: 1640px;
	margin: 0 auto;

	.takeover-content {
		position: relative;
		cursor: pointer;

		.expanded {
			text-align: center;
			white-space: nowrap;
			display: none;
			position: relative;
			overflow: hidden;

			&.show {
				display: block;
			}
			.close {
				display: block;
				float: right;
				width: 41px;
				height: 41px;
				background: url('../img/sprite.png') no-repeat -265px -46px;
				text-indent: -9999px;
				padding: 5px;
				position: absolute;
				top: 0;
				right: 0;
			}
			.message {
				img {
					height: auto;
					display: block;
					width: 140.597539543058%;
					margin-left: -20.298769771529%;
					max-width: none;
				}
			}
		}
		.contracted {
			text-align: center;
			width: 100%;
			background: #000;
			@include vendorize(opacity, 1);
			filter: alpha(opacity=100);
			@include transition(opacity, 800ms);

			&.hide {
				position: absolute;
				top: 0;
				@include vendorize(opacity, 0);
				filter: alpha(opacity=0);
			}

			a {
				font-style: normal;
				color: #fff;

				.message {
					font-weight: bold;
					padding: 10px 0;

					span.red {
						color: #CC0000;
					}
					span.green {
						color: #009900;
					}
				}
				.view-more {
					display: block;
					float: right;
					width: 41px;
					height: 41px;
					background: url('../img/sprite.png') no-repeat -214px -46px;
					text-indent: -9999px;
					padding: 5px;
				}
			}
		}
	}	
}
/*.international .takeover {
	display: none;
}*/ // only disable if it's a sale takeover

@media screen and (min-width: $breakpoint-small) {
	.takeover .takeover-content .expanded .message img {
		width: 100%;
		margin-left: 0;
		max-width: 100%;
	}
}