// ==========================================================================
// COMPONENTS/_TAKEOVER.SCSS
// ==========================================================================

.takeover {
  background: #000;
  position: relative;
  width: 100%;
  z-index: 4;

  .takeover-content {
    margin: 0 auto;
    max-width: 1640px;
    position: relative;
    text-align: center;
	}

  .message {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    padding: 5px 0;

    .red {
      color: #CC0000;
    }

    .green {
      color: #009900;
    }
  }
}

.international .takeover {
  display: none;
}
