// ==========================================================================
// COMPONENTS/_TECHNOLOGY.SCSS
// ==========================================================================

.tech-major {
  padding-top: 25px;

  h2 {
    margin-bottom: 10px;
  }

  .tech-video-list {
    .tech-video-item {
      margin-bottom: 10px;

      .tech-video,
      .tech-image {
        margin-bottom: 10px;
      }

      .tech-copy {
        h4,
        h5 {
          margin-bottom: 5px;
        }

        p {
          margin-bottom: 15px;
        }

        .tech-found-on {
          display: none;
          margin: 10px 0;

          ul li {
            float: left;
            width: 50%;
          }
        }

        ul {
          list-style: square;
          padding-left: 25px;
          margin-bottom: 10px;

          li {
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}

.tech-minor {
  h2 {
    margin-bottom: 10px;
  }
}

.surf .tech-minor {
  padding-bottom: 30px;
  padding-top: 25px;

  h5 {
    margin-bottom: 10px;
  }

  img {
    margin-bottom: 5px;
  }

  .tech-copy {
    strong {
      color: $skateColor;
      font-weight: normal;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      font-size: .875em;
      line-height: 1.32;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .surf-tech-logo {
    .tech-logo {
      color: #666;
      padding-bottom: 20px;
      text-align: center;

      img {
        display: block;
      }

      .tech-logo-new {
        display: block;
        text-align: left;
      }

      .tech-logo-phase {
        display: block;
        text-align: right;
      }
    }

    .tech-slogan {
      padding-bottom: 40px;
      text-align: center;

      &.tech-slogan-left {
        padding-bottom: 10px;
      }
    }
  }

  .surf-handcrafted {
    padding-top: 20px;
    padding-bottom: 20px;

    .handcrafted-image {
      padding-bottom: 20px;
    }

    .handcrafted-title {
      padding-bottom: 10px;
      text-align: center;
    }
  }
}

.tech-minor,
.tech-minor .section-content {

  & > .wrapper > .item {
    vertical-align: top;

    h4 {
      img {
        display: block;
        height: auto;
        padding-bottom: 10px;
        vertical-align: middle;
        width: 40%;
      }
    }

    .tech-copy {
      ul {
        list-style: square;
        margin-left: 25px;
      }
    }

    .tech-pad {
      padding-bottom: 30px;
    }
  }

  &.surf {
    .wrapper .item {
      h4 {
        img {
          width: 100%;
        }
      }
    }
  }
}

.product-tech-minor {
  padding-bottom: 0;
  padding-top: 25px;
}

.single-libtech_outerwear,
.page-template-storm-factory {
  .product-tech-minor {
    ul li {
      padding-bottom: 20px;
    }

    .wrapper .item {
      padding-bottom: 30px
    }
  }

  .product-tech-major {
    padding-bottom: 30px;
  }
}

.tech-faq {
  .section-content {
    padding: 0 10px;
  }

  h2 {
    margin-bottom: 20px;
    padding: 0 10px;
  }

  .faq-list {
    width: 100%;

    ul {
      li {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-small) {
  .tech-minor,
  .tech-minor .section-content {
    & > ul > li {
      text-align: left;
      vertical-align: top;
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .tech-faq .faq-list ul {
    float: left;
    width: 50%;
  }

  .surf .tech-minor {
    .tech-copy ul {
      font-size: 1em;
    }

    .surf-tech-logo .tech-slogan {
      &.tech-slogan-left {
        padding-bottom: 40px;
        text-align: right;
      }

      &.tech-slogan-right {
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .tech-major .section-content .tech-video-list .tech-video-item {
    .tech-copy {
      .tech-found-on {
        display: block;
      }
    }
  }
}
