<div class="finder-step bf-step-1">
	<div class="step-1-left">
		<h1>Lib Tech Board Finder</h1>
		<?php the_content(); ?>
		<h3>Sniffing out the right<span>Lib Tech snowboard</span></h3>
		<div class="selection-who">
			<h4>What are you?</h4>
			<ul>
				<li class="left"><a href="#/size/" class="bf-button" ng-click="setGender(user, 'Male')">Guy</a></li>
				<li class="right"><a href="#/size/" class="bf-button" ng-click="setGender(user, 'Female')">Girl</a></li>
			</ul>
		</div>
	</div>
	<div class="quote-wrapper">
		<blockquote>"The width of your feet best determines how wide of a snowboard that you need."</blockquote>
		<p class="quote-cite">-POS (Lib Tech Kraftsman)</p>
	</div>
</div>