<div class="finder-step bf-step-3">
	<a href="#/size/" class="back-button">< Back</a>
	<div class="quote-wrapper">
		<blockquote>"The width of your feet best determines how wide of a snowboard that you need."</blockquote>
		<p class="quote-cite">-POS (Lib Tech Kraftsman)</p>
	</div>
	<div class="selection-ability">
		<h4>What's your ability</h4>
		<ul>
			<li class="left"><a href="" class="bf-button">Starter</a></li>
			<li class="center"><a href="" class="bf-button">Middle</a></li>
			<li class="right"><a href="" class="bf-button">Top</a></li>
		</ul>
	</div><!-- .selection-ability -->
	<div class="selection-terrain">
		<h4>What do you ride?</h4>
		<ul>
			<li class="left"><a href="" class="bf-button">Freestyle</a></li>
			<li class="center"><a href="" class="bf-button">Freeride</a></li>
			<li class="right"><a href="" class="bf-button">Powder</a></li>
		</ul>
	</div><!-- .selection-terrain -->
</div><!-- .bf-step-3 -->