/* ==========================================================================
   BASE/_FONTS.SCSS
   ========================================================================== */

@font-face {
    font-family: 'Duke Fill';
    src: url('../fonts/Duke-Fill/Duke-Fill.eot');
    src: url('../fonts/Duke-Fill/Duke-Fill.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Duke-Fill/Duke-Fill.woff') format('woff'),
         url('../fonts/Duke-Fill/Duke-Fill.ttf') format('truetype'),
         url('../fonts/Duke-Fill/Duke-Fill.svg#dukefill') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PT-Sans/PT-Sans-Narrow-Regular.eot');
    src: url('../fonts/PT-Sans/PT-Sans-Narrow-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-Narrow-Regular.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Narrow-Regular.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-Narrow-Regular.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../fonts/PT-Sans/PT-Sans-Narrow-Bold.eot');
    src: url('../fonts/PT-Sans/PT-Sans-Narrow-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT-Sans/PT-Sans-Narrow-Bold.woff') format('woff'),
         url('../fonts/PT-Sans/PT-Sans-Narrow-Bold.ttf') format('truetype'),
         url('../fonts/PT-Sans/PT-Sans-Narrow-Bold.svg#pt_sans_narrowbold') format('svg');
    font-weight: bold;
    font-style: normal;
}