/* ==========================================================================
   BASE/_LINKS.SCSS
   ========================================================================== */

// Inline Text
a {
	color: $snowColor;
	font-style: italic;
	text-decoration: none;
}
a:hover,
a:focus,
a.selected {
	color: #fff;
	text-decoration: underline;
}