/* ==========================================================================
   MODULES/_DISCUSSION.SCSS
   ========================================================================== */

.discussion-top {
	display: none;
}
.discussion {
	display: none;
	padding-top: 20px;

	h2 {
		padding-bottom: 20px;
	}
	.discussion-thread {
		.fb_iframe_widget,
		.fb_iframe_widget span,
		.fb_iframe_widget iframe {
			width: 100% !important;
		}
	}
}

// margin fix on product pages
.single-libtech_surfboards,
.single-libtech_snowboards,
.single-libtech_skateboards,
.single-libtech_nas,
.single-libtech_outerwear,
.single-libtech_apparel,
.single-libtech_accessories {
	.discussion {
		margin-bottom: 60px;
	}
}

@media screen and (min-width: $breakpoint-small) {
	.discussion-top,
	.discussion {
		display: block;
	}
}
