// ==========================================================================
// MODULES/_FEATURED-SLIDER.SCSS
// ==========================================================================

.featured-slider {
  padding: 30px 0 25px;

  .section-content {
    max-width: 100%;
    overflow: hidden;

    .slider-wrapper {
      width: 100%;
    }
  }

  .slide {
    &:nth-child(n+2) { // before slide is rendered
      display: none;
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .content-large {
    display: none;
  }

  .content-ctas {
    bottom: 2%;
    position: absolute;
    text-align: center;
    width: 100%;

    .cta {
      display: inline-block;
      margin: 0 5px;
      padding-top: 5px;
    }
  }

  .icon-play {
    background-position-x: 100%;
    height: 16px;
    margin: 0 0 -2px 5px;
    width: 16px;
  }

  .button {
    &:hover,
    &:focus {
      .icon-play {
        background-position-x: 0;
      }
    }
  }

  .cta-theme-dark .button {
    border-color: #000;
    color: #000;

    .icon-play {
      background-position-x: 0;
    }

    &:hover,
    &:focus {
      background-color: #000;
      color: #fff;

      .icon-play {
        background-position-x: 100%;
      }
    }
  }

  .owl-carousel {
    display: block;
  }

  .owl-loaded .slide {
    &:nth-child(n+2) { // after it is rendered
      display: block;
    }
  }

  .owl-dots {
    padding-top: 5px;
  }

  .video-container {
    background-color: #000;
    height: 100%;
    left: 0;
    padding: 5% 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    .close-btn {
      height: 10px;
      position: absolute;
      right: 10px;
      top: 0;
      width: 10px;
    }

    .fluid-width-video-wrapper {
      background: #000 url('../img/loader.gif') no-repeat center center;
    }
  }
}

@media screen and (min-width: 340px) {
  .featured-slider .content-ctas {
    bottom: 3%;
  }
}

@media screen and (min-width: 400px) {
  .featured-slider .content-ctas {
    bottom: 4%;
  }
}

@media screen and (min-width: $breakpoint-small) {
  .featured-slider {
    .section-content {
      .slider-wrapper {
        margin-left: 0;
        width: 100%;
      }
    }

    .video-container .close-btn {
      height: 20px;
      width: 20px;
    }

    .content-ctas {
      bottom: 3%;
    }
  }
}

@media screen and (min-width: 550px) {
  .featured-slider .content-ctas {
    bottom: 6%;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .featured-slider {
    .content-small {
      display: none;
    }

    .content-large {
      display: block;
    }

    .icon-play {
      height: 20px;
      width: 20px;
    }

    .video-container {
      padding: 0 14.5%;

      .close-btn {
        right: 11%;
        top: 10px;
      }
    }

    .content-ctas {
      bottom: 3%;

      .cta {
        margin: 0 10px;
        padding-top: 10px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .featured-slider .content-ctas {
    bottom: 4%;
  }
}

@media screen and (min-width: $breakpoint-xlarge) {
  .featured-slider .content-ctas {
    bottom: 5%;
  }
}

@media screen and (min-width: $breakpoint-xxlarge) {
  .featured-slider .content-ctas {
    bottom: 6%;
  }
}

// custom fix for old pages with slider
.page-template-dttd,
.page-template-jamie-lynn-collection {
  .featured-slider {
    padding-bottom: 60px;
  }
}
