// ==========================================================================
// MODULES/_GALLERY.SCSS
// ==========================================================================

.gallery {
  margin-bottom: 20px;

  .gallery-viewer {
    position: relative;
    min-height: 100px;

    .gallery-viewer-image {
      overflow: hidden;
      text-align: center;

      &.loading {
        background: url('../img/loader.gif') center center no-repeat;
      }

      img {
        max-height: 600px;
      }
    }

    .gallery-viewer-caption {
      text-align: center;

      p {
        margin: 10px 0;
      }
    }

    .gallery-viewer-prev,
    .gallery-viewer-next {
      @include transition(background, 100ms, ease-in-out);
      cursor: pointer;
      height: 32px;
      margin-top: -36px;
      outline: 0;
      position: absolute;
      text-indent: -9999px;
      top: 50%;
      width: 42px;
      z-index: 9998;
    }

    .gallery-viewer-prev {
      background: url('../img/sprite.png') no-repeat 10px -120px;
      left: 10px;

      &:hover,
      &:focus {
        background-position: 0 -120px;
      }
    }

    .gallery-viewer-next {
      background: url('../img/sprite.png') no-repeat -52px -120px;
      right: 10px;

      &:hover,
      &:focus {
        background-position: -42px -120px;
      }
    }
	}

  .gallery-thumbnails {
    .gallery-item {
      display: inline-block;
      
      .gallery-caption {
        display: none;
      }

      .gallery-icon {
        a {
          img {
            @include vendorize(opacity, 0.8);
            @include transition(opacity);
          }

          &.selected img {
            @include vendorize(opacity, 1);
          }
        }
      }
    }
  }

  .bx-wrapper .bx-viewport {
    background: none;
  }
}

.product-gallery .gallery .gallery-viewer .gallery-viewer-image img {
  max-height: 675px;
}
