// ==========================================================================
// MODULES/_INSTAGRAM.SCSS
// ==========================================================================

.instagram-feed {
  &.container-fluid {
    padding: 30px 0 10px;
  }

  .instagram-wrapper {
    padding-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .instagram-info {
    display: none;
  }

  .item-5,
  .item-6 {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-large) {
  .instagram-feed {
    a {
      display: block;
      position: relative;
    }

    .instagram-info {
      @include transition(opacity);
      @include vendorize(opacity, 0);
      background: rgba(0, 0, 0, .75);
      display: block;
      font-style: normal;
      height: 100%;
      position: absolute;
      text-align: center;
      width: 100%;
      overflow: hidden;

      .username {
        @include transition(transform);
        @include vendorize(transform, translate(0, -15px));
        margin-bottom: .2em;
      }

      .instagram-logo {
        @include transition(transform);
        @include vendorize(transform, translate(0, -5px));
        color: #fff;

        .icon {
          height: 15px;
          width: 15px;
          display: inline-block;
          margin-right: 5px;
          background: #fff;
          background: url('../img/icon-instagram.png');
          background-size: 100%;
        }
      }
    }

    a:hover,
    a:focus {
      .instagram-info {
        @include vendorize(opacity, 1);

        .username,
        .instagram-logo {
          @include vendorize(transform, translate(0, 0));
        }
      }
    }

    .vertical-center {
      @include vendorize(transform, translateY(-50%));
      position: relative;
      top: 50%;
      width: 100%;
    }

    .item-5,
    .item-6 {
      display: block;
    }
  }
}
