// ==========================================================================
// MODULES/_LATEST-POSTS.SCSS
// ==========================================================================

.latest-posts {
  &.container-fluid {
    padding: 30px 0;
  }

  .post-wrapper {
    padding-bottom: 20px;
  }

  .snow .post-category {
    color: $snowColor;
  }

  .ski .post-category {
    color: $skiColor;
  }

  .surf .post-category {
    color: $surfColor;
  }

  .skate .post-category {
    color: $skateColor;
  }

  a,
  a:hover,
  a:focus {
    font-style: normal;
    text-decoration: none;
  }

  a {
    &:hover .post-title,
    &:focus .post-title {
      color: #666;
    }

    .post-category {
      padding-bottom: 5px;
      text-transform: capitalize;
    }

    img {
      display: none;
    }

    .post-title {
      padding-bottom: 10px;
      word-wrap: break-word;
    }

    .post-meta {
      padding-bottom: 10px;

      span {
        color: #fff;
      }
    }
  }

  .call-to-action {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .latest-posts {
    &.container-fluid {
      padding: 30px 10px;
    }

    .post-wrapper {
      padding-bottom: 10px;
    }

    a {
      img {
        display: block;
        padding-bottom: 20px;
        width: 100%;
      }

      .post-meta {
        font-size: 1.125em; // 18 / 16
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {

}

// custom fix for old pages with latest-posts module
.page-template-lib-legs {
  .latest-posts {
    padding-bottom: 60px;
  }
}
