// ==========================================================================
// MODULES/_PRODUCT-GRID.SCSS
// ==========================================================================

.product-grid {
  padding: 0 0 60px 0;

  .grid-wrapper {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}

.product-grid,
.featured-product-grid {
  .grid-item {
    position: relative;

    .grid-item-wrapper {
      display: block;
      margin: 0 auto;
      overflow: hidden;

      img {
        height: auto;
      }

      &.snowboards {
        width: 45%;

        img {
          margin-left: -129%;
          max-width: 450%;
          width: 450%;
        }
      }

      &.skis {
        width: 45%;

        img {
          margin-left: -152%;
          max-width: 450%;
          width: 450%;
        }
      }

      &.skateboards {
        width: 100%;

        img {
          margin-left: -50%;
          max-width: 200%;
          width: 200%;
        }
      }

      &.surfboards {
        width: 79%;

        img {
          margin-left: -3%;
          max-width: 240%;
          padding-top: 10px;
          width: 240%;
        }
      }

      &.apparel,
      &.outerwear,
      &.luggage,
      &.accessories {
        width: 97%;
        padding: 3%;
      }
    }
  }
}

.grid-item-info {
  display: none;
}

.mobile-grid-link {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

// different styles for smaller screen sizes
.featured-product-grid {
  padding-bottom: 60px;

  .grid-item {
    .grid-item-wrapper {

      &.snowboards {
        width: 82%;

        img {
          margin-left: -113%;
          max-width: 415%;
          width: 415%;
        }
      }

      &.skis {
        width: 75%;

        img {
          margin-left: -157%;
          max-width: 460%;
          width: 460%;
        }
      }

      &.skateboards {
        width: 100%;

        img {
          margin-left: -122%;
          max-width: 345%;
          width: 345%;
        }
      }

      &.surfboards {
        width: 100%;

        img {
          margin-left: -22%;
          max-width: 316%;
          width: 316%;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-small) {
  .product-grid {
    .grid-item {
      .grid-item-wrapper {
        &.snowboards,
        &.skis {
          width: 40%;
        }

        &.skateboards {
          width: 83%;

          img {
            margin-left: -40%;
            max-width: 180%;
            width: 180%;
          }
        }

        &.surfboards {
          width: 60%;

          img {
            margin-left: -2%;
            max-width: 235%;
            width: 235%;
          }
        }

        &.apparel,
        &.outerwear,
        &.luggage,
        &.accessories {
          width: 73%;

          img {
            margin-left: 0;
            max-width: 100%;
            width: 100%;
          }

        }
      }
    }
  }

  .featured-product-grid {
    .grid-item {
      .grid-item-wrapper {
        &.snowboards {
          width: 69%;
        }

        &.skis {
          width: 59%;
        }

        &.skateboards {
          img {
            margin-left: -98%;
            max-width: 295%;
          }
        }

        &.surfboards {
          width: 95%;

          img {
            margin-left: -14%;
            max-width: 285%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .grid-item-wrapper {
    .grid-item-info {
      display: none;
      left: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      .product-title {
        font-size: 1.125em;
        font-style: italic;
        padding-bottom: 0;
        text-transform: uppercase;
      }

      .call-to-action {
        max-width: 165px;
        width: 165px;
        margin: 20px auto 0 auto;

        .button {
          font-size: 1.125em;
          margin: 0 auto 10px;
          width: 100%;
        }
      }

      .price {
        .currency-note {
          text-transform: uppercase;
        }

        .strike {
          display: none;
        }
      }
    }
  }

  .touch .grid-item-wrapper {
    .mobile-grid-link {
      display: block;
    }
  }

  .no-touch {
    .grid-item-wrapper {
      .mobile-grid-link {
        display: none;
      }

      img {
        @include transition(opacity);
      }

      .grid-item-info {
        display: block;
        @include transition(opacity);
        @include vendorize(opacity, 0);

        .product-title {
          @include transition(transform);
          @include vendorize(transform, translate(0, -15px));
        }

        .price {
          @include transition(transform);
          @include vendorize(transform, translate(0, -5px));
        }
      }

      &:hover,
      &:focus {
        img {
          @include vendorize(opacity, .2);
        }

        .grid-item-info {
          @include vendorize(opacity, 1);

          .product-title,
          .price {
            @include vendorize(transform, translate(0, 0));
          }
        }
      }
    }
  }

  .product-grid {
    padding-bottom: 80px;
  }

  .featured-product-grid,
  .product-grid {
    .grid-item {
      .grid-item-wrapper {
        &.snowboards {
          width: 43%;

          img {
            margin-left: -129%;
            max-width: 450%;
            width: 450%;
          }
        }

        &.skis {
          width: 43%;

          img {
            margin-left: -152%;
            max-width: 450%;
            width: 450%;
          }
        }

        &.skateboards {
          width: 100%;

          img {
            margin-left: -50%;
            max-width: 200%;
            width: 200%;
          }
        }

        &.surfboards {
          width: 78%;

          img {
            margin-left: -4%;
            max-width: 240%;
            padding-top: 10px;
            width: 240%;
          }
        }

        &.apparel,
        &.outerwear,
        &.luggage,
        &.accessories {
          width: 100%;

          img {
            margin-left: 0;
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-large) {

}
