// ==========================================================================
// MODULES/_PRODUCT-SLIDER.SCSS
// ==========================================================================

.product-slider {
  overflow: hidden;
  padding-bottom: 60px;

  .bx-wrapper {
    .bx-viewport {
      background: none;
      overflow: visible !important;
    }

    .bx-loading {
      background: none;
    }
  }

  ul {
    padding-bottom: 20px;

    li {
      display: inline-block;
      width: 220px;

      img {
        height: auto;
        margin-left: -20%;
        max-width: 140%;
        width: 140%;
      }

      .mobile-grid-link {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .call-to-action {
    text-align: center;

    .view-all-link {
      margin: 20px auto 0;
    }
  }

  &.bg-product-skate .product-peek .product-title {
    color: $skateColor;
  }

  &.bg-product-ski .product-peek .product-title {
    color: $skiColor;
  }

  &.bg-product-surf .product-peek .product-title {
    color: $surfColor;
  }
}

.home,
.surf {
  .product-slider ul li img {
    height: auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }
}

.product-details-nav {
  ul {
    li {
      .product-peek {
        @include vendorize(opacity, 0);
        background: #000;
        left: 5%;
        padding: 5px;
        position: absolute;
        top: 40%;
        width: 90%;

        .product-title {
          color: $snowColor;
          font-style: normal;
          font-weight: bold;
          text-transform: uppercase;
        }
        
        .product-type {
          color: #fff;
        }
      }

      &:hover .product-peek {
        @include vendorize(opacity, 1);
      }
    }
  }
}
