// ==========================================================================
// MODULES/_PRODUCT-SLIDER.SCSS
// ==========================================================================

.product-slider {
  overflow: hidden;
  padding: 30px 0;

  .section-content {
    max-width: none;
  }

  .owl-carousel {
    display: block;

    .owl-stage {
      display: inline-block;
    }

    .owl-dots {
      display: none;
    }
  }

  .product-list {
    padding-bottom: 15px;
    text-align: center;

    .product-item {

      display: inline-block;
      overflow: hidden;
      position: relative;
      width: 220px;

      img {
        @include transition(opacity, 300ms);
        -webkit-backface-visibility: hidden;
        height: auto;
        margin-left: -20%;
        max-width: 140%;
        -webkit-transform: scale(1);
        width: 140%;

        &.lazy {
          @include vendorize(opacity, 0);
        }

        &.loaded {
          @include vendorize(opacity, 1);
        }
      }

      .mobile-grid-link {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .owl-loaded .product-item {
    width: 100%;
  }

  .call-to-action {
    text-align: center;

    .view-all-link {
      margin: 0 auto;
    }
  }

  &.bg-product-skate .product-peek .product-title {
    color: $skateColor;
  }

  &.bg-product-ski .product-peek .product-title {
    color: $skiColor;
  }

  &.bg-product-surf .product-peek .product-title {
    color: $surfColor;
  }
}

.single-libtech_accessories,
.single-libtech_apparel,
.single-libtech_luggage,
.single-libtech_surfboards,
.page-template-home-sport.surf,
.product-slider-featured {
  .product-list .product-item img {
    height: auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }
}

.page-template-home-sport.surf,
.single-libtech_surfboards, {
  .product-slider {
    .owl-loaded .product-item .image-wrapper {
      width: 85%;
      overflow: hidden;
      margin: 0 auto;
    }
  }
}

.page-template-home-sport.surf,
.single-libtech_surfboards, {
  .product-list .product-item img {
    height: auto;
    margin-left: 0;
    max-width: 220%;
    width: 220%;
  }
}

.product-details-nav {
  .product-list {
    padding-bottom: 0;

    .product-item {
      .product-peek {
        @include vendorize(opacity, 0);
        background: #000;
        left: 5%;
        padding: 5px;
        position: absolute;
        top: 40%;
        width: 90%;

        .product-title {
          color: $snowColor;
          font-style: normal;
          font-weight: bold;
          text-transform: uppercase;
        }

        .product-type {
          color: #fff;
        }
      }

      &:hover .product-peek {
        @include vendorize(opacity, 1);
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .product-slider .owl-carousel .owl-dots {
    display: block;
  }
}
