// ==========================================================================
// MODULES/_PRODUCT-GRID.SCSS
// ==========================================================================

.product-grid {
  padding: 30px 0;

  .grid-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .grid-item {
    position: relative;

    .grid-item-wrapper {
      display: block;
      margin: 0 auto;
      overflow: hidden;
      width: 100%;
    }

    img {
      -webkit-backface-visibility: hidden;
      height: auto;
      -webkit-transform: scale(1);
    }

    .grid-item-info {
      display: none;
    }

    .grid-link {
      background: url('../img/square.gif'); // dumb IE8/9 fix
      // http://stackoverflow.com/questions/6914822/absolute-positioned-anchor-tag-with-no-text-not-clickable-in-ie
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &.snowboards {
      .grid-item-wrapper {
        width: 43%;
      }

      img {
        margin-left: -129%;
        max-width: 450%;
        width: 450%;
      }
    }

    &.skis {
      .grid-item-wrapper {
        width: 43%;
      }

      img {
        margin-left: -175%;
        max-width: 450%;
        width: 450%;
      }
    }

    &.skateboards {
      img {
        margin-left: -50%;
        max-width: 200%;
        width: 200%;
      }
    }

    &.surfboards {
      .grid-item-wrapper {
        width: 79%;
      }

      img {
        margin-left: -3%;
        max-width: 240%;
        padding-top: 10px;
        width: 240%;
      }
    }

    &.apparel,
    &.outerwear,
    &.luggage,
    &.accessories {
      .grid-item-wrapper {
        width: 97%;
        padding: 1%;
      }
    }
  }

  // different styles for smaller screen sizes
  &.featured {
    padding: 25px 0 60px;

    .grid-item {
      &.snowboards {
        .grid-item-wrapper {
          width: 82%;
        }

        img {
          margin-left: -113%;
          max-width: 415%;
          width: 415%;
        }
      }

      &.skis {
        .grid-item-wrapper {
          width: 75%;
        }

        img {
          margin-left: -175%;
          max-width: 460%;
          width: 460%;
        }
      }

      &.skateboards {
        img {
          margin-left: -122%;
          max-width: 345%;
          width: 345%;
        }
      }

      &.surfboards {
        .grid-item-wrapper {
          width: 100%;
        }

        img {
          margin-left: -22%;
          max-width: 316%;
          width: 316%;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-small) {
  .product-grid {
    .grid-item {
      &.snowboards,
      &.skis {
        .grid-item-wrapper {
          width: 40%;
        }
      }

      &.skateboards {
        img {
          margin-left: -40%;
          max-width: 180%;
          width: 180%;
        }
      }

      &.surfboards {
        .grid-item-wrapper {
          width: 74%;
        }

        img {
          margin-left: -2%;
          max-width: 235%;
          width: 235%;
        }
      }

      &.apparel,
      &.outerwear,
      &.luggage,
      &.accessories {
        .grid-item-wrapper {
          width: 90%;
        }

        img {
          margin-left: 0;
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &.featured {
      .grid-item {
        &.snowboards {
          .grid-item-wrapper {
            width: 69%;
          }
        }

        &.skis {
          .grid-item-wrapper {
            width: 59%;
          }
        }

        &.skateboards {
          img {
            margin-left: -98%;
            max-width: 295%;
          }
        }

        &.surfboards {
          .grid-item-wrapper {
            width: 95%;
          }

          img {
            margin-left: -14%;
            max-width: 285%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .no-touch .product-grid {
    .grid-item {
      img {
        @include transition(opacity);
      }

      .grid-item-info {
        @include transition(opacity);
        @include vendorize(opacity, 0);
        @include vendorize(transform, translateY(-50%));
        display: block;
        left: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        z-index: 2;

        a {
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }

        .product-title {
          @include transition(all);
          @include vendorize(transform, translate(0, -15px));
          font-size: 1.125em;
          font-style: italic;
          padding-bottom: 0;
          text-transform: uppercase;
        }

        .price {
          @include transition(all);
          @include vendorize(transform, translate(0, -5px));

          .currency-note {
            text-transform: uppercase;
          }

          .strike {
            display: none;
          }
        }

        .call-to-action {
          max-width: 100%;
          width: 165px;
          margin: 20px auto 0 auto;

          .button {
            font-size: 1.125em;
            margin: 0 auto 10px;
            width: 100%;
          }
        }
      }

      &:hover,
      &:focus {
        img {
          @include vendorize(opacity, .3);
        }

        .grid-item-info {
          @include vendorize(opacity, 1);

          .product-title,
          .price {
            @include vendorize(transform, translate(0, 0));
          }
        }
      }
    }
  }

  .product-grid,
  .product-grid.featured {
    .grid-item {
      &.snowboards {
        .grid-item-wrapper {
          width: 43%;
        }

        img {
          margin-left: -129%;
          max-width: 450%;
          width: 450%;
        }
      }

      &.skis {
        .grid-item-wrapper {
          width: 43%;
        }

        img {
          margin-left: -175%;
          max-width: 450%;
          width: 450%;
        }
      }

      &.skateboards {
        .grid-item-wrapper {
          width: 100%;
        }

        img {
          margin-left: -50%;
          max-width: 200%;
          width: 200%;
        }
      }

      &.surfboards {
        .grid-item-wrapper {
          width: 78%;
        }

        img {
          margin-left: -4%;
          max-width: 240%;
          padding-top: 10px;
          width: 240%;
        }
      }

      &.apparel,
      &.outerwear,
      &.luggage,
      &.accessories {
        .grid-item-wrapper {
          width: 100%;
        }

        img {
          margin-left: 0;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  // alter hovers in IE8
  .ie-lt9 {
    .product-grid {
      .grid-item {
        .grid-item-info {
          display: none;
          top: 25%;
        }

        &:hover,
        &:focus {
          img {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
          }

          .grid-item-info {
            display: block;
          }
        }
      }
    }
  }
}
