// ==========================================================================
// MODULES/_STORY-SLIDER.SCSS
// ==========================================================================

.story-slider {
  padding: 30px 0;

  .section-content {
    max-width: 100%;
    padding: 0;

    .slider-wrapper a img { // TEMP visual fix
      width: 100%;
    }
  }

  .owl-carousel {
    display: block;

    .story-img-large {
      display: none;
    }

    .owl-nav [class*='owl-'] {
      top: 40%;
    }
  }

  .story-copy {
    padding-top: 20px;

    h3 {
      padding-bottom: 5px;
    }

    p {
      line-height: 1.75;
    }
  }

  .call-to-action {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .story-slider {

    .owl-carousel {
      .story-img-small {
        display: none;
      }

      .story-img-large {
        display: block;
      }
    }
  }
}
