// ==========================================================================
// MODULES/_STORY-SLIDER.SCSS
// ==========================================================================

.story-slider {
  padding: 30px 0;

  .section-content {
    max-width: 100%;
    padding: 0;
  }

  .lazy {
    @include transition(opacity, 300ms);
    @include vendorize(opacity, 0);

    &.loaded {
      @include vendorize(opacity, 1);
    }
  }

  .owl-carousel {
    display: block;

    .story-img-large {
      display: none;
    }

    .owl-nav [class*='owl-'] {
      top: 40%;
    }

    .owl-dots {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .story-link {
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    display: block;
  }

  .story-copy {
    padding-top: 40px;

    h3 {
      padding-bottom: 5px;
    }

    p {
      line-height: 1.75;
    }
  }

  .call-to-action {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .story-slider {

    .owl-carousel {
      .story-img-small {
        display: none;
      }

      .story-img-large {
        display: block;
      }
    }
  }
}
