<div class="finder-step bf-step-3">
	<a href="#/size/" class="back-button">< Back</a>
	<div class="quote-wrapper">
		<blockquote>"The width of your feet best determines how wide of a snowboard that you need."</blockquote>
		<p class="quote-cite">-POS (Lib Tech Kraftsman)</p>
	</div>
	<div class="selection-ability">
		<h4>What's your ability</h4>
		<ul class="button-list">
			<li class="list-item left"><button class="bf-button" ng-click="setAbility('Beginner')" ng-class="{'selected': getAbility() == 'Beginner'}">Starter</button></li>
			<li class="list-item center"><button class="bf-button" ng-click="setAbility('Intermediate')" ng-class="{'selected': getAbility() == 'Intermediate'}">Middle</button></li>
			<li class="list-item right"><button class="bf-button" ng-click="setAbility('Advanced')" ng-class="{'selected': getAbility() == 'Advanced'}">Top</button></li>
		</ul>
	</div><!-- .selection-ability -->
	<div class="selection-terrain">
		<h4>What do you ride?</h4>
		<ul class="button-list">
			<li class="list-item left"><button class="bf-button" ng-click="setTerrain('Freestyle')" ng-class="{'selected': getTerrain() == 'Freestyle'}">Freestyle</button></li>
			<li class="list-item center"><button class="bf-button" ng-click="setTerrain('Freeride')" ng-class="{'selected': getTerrain() == 'Freeride'}">Freeride</button></li>
			<li class="list-item right"><button class="bf-button" ng-click="setTerrain('Powder')" ng-class="{'selected': getTerrain() == 'Powder'}">Powder</button></li>
		</ul>
	</div><!-- .selection-terrain -->
</div><!-- .bf-step-3 -->
