/* ========================================================================== LIBTECH.SNOWBOARDFINDER.SCSS ========================================================================== */
/* Lib Tech DIY Snowboard Finder - http://www.lib-tech.com/snowboarding/snowboard-finder/ Authors: brian.behrens@mervin.com & tony.keller@mervin.com - http://www.mervin.com */
/* ========================================================================== HELPERS/_VARIABLES.SCSS ========================================================================== */
/* ========================================================================== HELPERS/_MIXINS.SCSS ========================================================================== */
.board-finder { padding-bottom: 0; }
.board-finder .section-content .finder-step { min-height: 480px; padding: 0 20px; clear: both; }
.board-finder .section-content .finder-step h1 { text-align: center; }
.board-finder .section-content .finder-step h2 { text-align: center; }
.board-finder .section-content .finder-step h3 { text-align: center; line-height: 1.25; }
.board-finder .section-content .finder-step h3 span { display: block; }
.board-finder .section-content .finder-step h4 { color: #fff; font-size: 1.25em; padding-bottom: 10px; }
.board-finder .section-content .finder-step p { padding-bottom: 20px; }
.board-finder .section-content .finder-step a.bf-button { height: 40px; line-height: 40px; border: 1px solid #000; color: #000; background-color: #FFFF00; }
.board-finder .section-content .finder-step a.bf-button:hover, .board-finder .section-content .finder-step a.bf-button:focus { color: #FFFF00; background-color: #000; border: 1px solid #FFFF00; text-decoration: none; }
.board-finder .section-content .finder-step select { border: 1px solid #000; }
.board-finder .section-content .finder-step .quote-wrapper { display: none; }
.board-finder .section-content .bf-step-1 { background: url(../img/board-finder/bf-step-1-kraftsman.png) 125% bottom no-repeat; background-size: 65%; padding: 40px 0; }
.board-finder .section-content .bf-step-1 .step-1-left h1 { padding-bottom: 30px; }
.board-finder .section-content .bf-step-1 .step-1-left h3 { padding-bottom: 80px; }
.board-finder .section-content .bf-step-1 .step-1-left .selection-who { width: 50%; margin: 0 auto; }
.board-finder .section-content .bf-step-1 .step-1-left .selection-who ul { width: 100%; }
.board-finder .section-content .bf-step-1 .step-1-left .selection-who ul li { display: block; width: 100%; height: 40px; margin-bottom: 10px; font-size: 1.5em; text-align: center; line-height: 30px; text-transform: uppercase; }
.board-finder .section-content .bf-step-1 .step-1-left .selection-who ul li a { display: block; background: #FFFF00; color: #000; }
.board-finder .section-content .bf-step-1 .step-1-left .selection-who ul li a:hover, .board-finder .section-content .bf-step-1 .step-1-left .selection-who ul li a:focus { color: #FFFF00; background-color: #000; border: 1px solid #FFFF00; text-decoration: none; }
.board-finder .section-content .bf-step-2 { background: url(../img/board-finder/bf-step-2-kraftsman.png) -20% bottom no-repeat; background-size: 80%; padding: 40px 0; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top { width: 50%; margin: 0 auto; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type input { margin-right: 10px; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type label { padding-right: 30px; font-size: 1.4em; color: #FFFF00; vertical-align: middle; text-transform: uppercase; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .weight-measurement { padding: 30px 0 40px 0; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement { padding-bottom: 40px; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom { width: 50%; margin: 0 auto; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .boot-measurement { padding-bottom: 40px; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .button-next a { width: 100%; height: 40px; display: block; background: #FFFF00; color: #000; line-height: 40px; font-size: 1.5em; text-align: center; }
.board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .button-next a:hover, .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .button-next a:focus { color: #FFFF00; background-color: #000; border: 1px solid #FFFF00; text-decoration: none; }
.board-finder .section-content .bf-step-3 { background: url(../img/board-finder/bf-step-3-kraftsman.png) 130% bottom no-repeat; background-size: 50%; padding: 40px 0; }
.board-finder .section-content .bf-step-3 .selection-ability { width: 50%; margin: 0 auto; padding-bottom: 30px; }
.board-finder .section-content .bf-step-3 .selection-ability ul { width: 100%; }
.board-finder .section-content .bf-step-3 .selection-ability ul li { display: block; width: 100%; height: 30px; margin-bottom: 20px; font-size: 1.5em; text-align: center; line-height: 30px; text-transform: uppercase; }
.board-finder .section-content .bf-step-3 .selection-ability ul li a { display: block; background: #FFFF00; color: #000; }
.board-finder .section-content .bf-step-3 .selection-terrain { width: 50%; margin: 0 auto; }
.board-finder .section-content .bf-step-3 .selection-terrain ul { width: 100%; }
.board-finder .section-content .bf-step-3 .selection-terrain ul li { display: block; width: 100%; height: 30px; margin-bottom: 20px; font-size: 1.5em; text-align: center; line-height: 30px; text-transform: uppercase; }
.board-finder .section-content .bf-step-3 .selection-terrain ul li a { display: block; background: #FFFF00; color: #000; }
.board-finder .section-content .bf-step-4 { padding: 40px 0; }
.board-finder .section-content .bf-step-4 .product-filtering { width: 100%; display: table; padding: 30px 20px 40px 20px; }
.board-finder .section-content .bf-step-4 .product-filtering li { display: table-cell; margin: 0; width: 33.3333%; }
.board-finder .section-content .bf-step-4 .product-filtering li.left { padding-right: 5px; }
.board-finder .section-content .bf-step-4 .product-filtering li.center { padding: 0 5px; }
.board-finder .section-content .bf-step-4 .product-filtering li.right { padding-left: 5px; }
.board-finder .section-content .bf-step-4 .product-listing .product-item { float: left; text-align: center; padding-bottom: 40px; }
.board-finder .section-content .bf-step-4 .product-listing .product-item a .product-img { width: 100%; max-width: 200%; height: auto; }
.board-finder .section-content .bf-step-4 .product-listing .product-item a h5 { display: inline-block; }
.board-finder .section-content .bf-step-4 .product-listing .product-item a h5.board-length { color: #FFF; }
.board-finder .section-content .bf-step-4 .why-link { color: #FFFF00; display: block; text-align: center; text-transform: uppercase; font-size: 1.5em; }
.board-finder .section-content .bf-step-5 { padding: 40px 20px; }
.board-finder .section-content .bf-step-5 h2 { padding-bottom: 30px; }
.board-finder .section-content .bf-step-5 h3 { padding-bottom: 20px; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul { width: 100%; display: table; padding-bottom: 30px; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul li { display: table-cell; width: 33.3333%; height: 30px; font-size: 1.5em; text-align: center; line-height: 30px; text-transform: uppercase; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul li.left { padding-right: 5px; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul li.center { padding: 0 5px; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul li.right { padding-left: 5px; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul li a { display: block; background: #FFFF00; color: #000; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul li a:hover, .board-finder .section-content .bf-step-5 .step-5-content-wrapper .selection-why ul li a:focus { color: #FFFF00; background-color: #000; border: 1px solid #FFFF00; text-decoration: none; }
.board-finder .section-content .bf-step-5 .step-5-content-wrapper .description-wrapper .description h4 { color: #FFFF00; }

@media screen and (min-width: 600px) { .board-finder .section-content .finder-step { min-height: 380px; }
  .board-finder .section-content .bf-step-1 { background-size: 40%; background-position: 90% bottom; }
  .board-finder .section-content .bf-step-1 .step-1-left { width: 50%; margin: 0 20% 0 0; }
  .board-finder .section-content .bf-step-1 .step-1-left h3 { padding-bottom: 40px; }
  .board-finder .section-content .bf-step-1 .step-1-left .selection-who { width: 100%; padding: 0 10%; }
  .board-finder .section-content .bf-step-2 { background-size: 55%; background-position: 10% bottom; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top { width: 40%; float: right; margin: 0 5% 0 20%; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .weight-measurement { padding: 30px 0 10px 0; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement { padding: 10px 0; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom { width: 40%; float: right; margin: 0 5% 0 20%; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .boot-measurement { padding: 10px 0; }
  .board-finder .section-content .bf-step-3 { background-size: 35%; background-position: 90% bottom; }
  .board-finder .section-content .bf-step-3 .selection-ability { width: 40%; margin-left: 20px; padding-bottom: 60px; }
  .board-finder .section-content .bf-step-3 .selection-terrain { width: 40%; margin-left: 20px; } }
@media screen and (min-width: 768px) { .board-finder .section-content .finder-step { min-height: 800px; }
  .board-finder .section-content .finder-step .quote-wrapper { display: block; width: 180px; }
  .board-finder .section-content .finder-step .quote-wrapper .quote-cite { padding-left: 20px; }
  .board-finder .section-content .bf-step-1 { background-position: 105% bottom; background-size: 575px; }
  .board-finder .section-content .bf-step-1 .step-1-left { width: 50%; padding: 0 20px; float: left; }
  .board-finder .section-content .bf-step-1 .step-1-left h1 { padding: 100px 0 60px 0; }
  .board-finder .section-content .bf-step-1 .step-1-left h3 { padding-bottom: 80px; }
  .board-finder .section-content .bf-step-1 .step-1-left .selection-who { width: 100%; padding: 0; }
  .board-finder .section-content .bf-step-1 .step-1-left .selection-who ul { display: table; }
  .board-finder .section-content .bf-step-1 .step-1-left .selection-who ul li { display: table-cell; width: 50%; }
  .board-finder .section-content .bf-step-1 .step-1-left .selection-who ul li.left { padding-right: 5px; }
  .board-finder .section-content .bf-step-1 .step-1-left .selection-who ul li.right { padding-left: 5px; }
  .board-finder .section-content .bf-step-1 .quote-wrapper { padding: 60px 20px 0 0; float: right; }
  .board-finder .section-content .bf-step-2 { background-size: 750px; background-position: -70px bottom; }
  .board-finder .section-content .bf-step-2 .quote-wrapper { margin: 0 auto; padding-top: 70px; }
  .board-finder .section-content .bf-step-2 select { width: 140px; }
  .board-finder .section-content .bf-step-2 .button-next { width: 140px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper { text-align: right; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top { width: 100%; margin: 0; padding: 30px 20px 25px 0; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type { padding: 0 300px 20px 0; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .weight-measurement { display: inline-block; padding: 10px 60px 0 0; text-align: left; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement { display: inline-block; vertical-align: top; text-align: left; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement .height-us select { float: left; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement .height-us select.feet { margin-right: 10px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement .height-metric { padding-right: 150px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom { width: 100%; margin: 0; padding: 0 170px 40px 0; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .boot-measurement { display: inline-block; text-align: left; padding-right: 60px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .button-next { padding-top: 40px; display: inline-block; }
  .board-finder .section-content .bf-step-3 { background-size: 450px; background-position: 125% bottom; }
  .board-finder .section-content .bf-step-3 .quote-wrapper { margin: 0 auto; padding-top: 150px; }
  .board-finder .section-content .bf-step-3 .selection-ability { width: 55%; margin-top: 50px; }
  .board-finder .section-content .bf-step-3 .selection-ability ul { display: table; }
  .board-finder .section-content .bf-step-3 .selection-ability ul li { display: table-cell; width: 33.3333%; }
  .board-finder .section-content .bf-step-3 .selection-ability ul li.left { padding-right: 10px; }
  .board-finder .section-content .bf-step-3 .selection-ability ul li.right { padding-left: 10px; }
  .board-finder .section-content .bf-step-3 .selection-terrain { width: 55%; }
  .board-finder .section-content .bf-step-3 .selection-terrain ul { display: table; }
  .board-finder .section-content .bf-step-3 .selection-terrain ul li { display: table-cell; width: 33.3333%; }
  .board-finder .section-content .bf-step-3 .selection-terrain ul li.left { padding-right: 10px; }
  .board-finder .section-content .bf-step-3 .selection-terrain ul li.right { padding-left: 10px; }
  .board-finder .section-content .bf-step-4 h2 { text-align: left; float: left; padding-left: 20px; }
  .board-finder .section-content .bf-step-4 .product-filtering { width: 50%; float: right; padding-top: 0; }
  .board-finder .section-content .bf-step-4 .board-picks .product-listing { clear: both; }
  .board-finder .section-content .bf-step-4 .board-picks .product-listing .product-item { width: 50%; }
  .board-finder .section-content .bf-step-4 .why-link { clear: both; }
  .board-finder .section-content .bf-step-5 { position: relative; }
  .board-finder .section-content .bf-step-5 .description-image-wrapper { position: absolute; min-height: 800px; width: 100%; top: 0; left: 0; }
  .board-finder .section-content .bf-step-5 .description-image-wrapper .description-image-list li { width: 100%; min-height: 800px; }
  .board-finder .section-content .bf-step-5 .description-image-wrapper .description-image-list li.length { background: url(../img/board-finder/bf-length.png) -160px bottom no-repeat; background-size: 540px; }
  .board-finder .section-content .bf-step-5 .step-5-content-wrapper { width: 57%; float: right; position: relative; z-index: 2; padding: 115px 0 0 0; } }
@media screen and (min-width: 900px) { .board-finder .section-content .bf-step-1 { background-position: 100% bottom; }
  .board-finder .section-content .bf-step-1 .quote-wrapper { width: 200px; padding: 60px 40px 0 0; }
  .board-finder .section-content .bf-step-2 { background-position: -15px bottom; }
  .board-finder .section-content .bf-step-2 select { width: 160px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type { padding-right: 360px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement .height-metric { padding-right: 170px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom { padding-right: 190px; }
  .board-finder .section-content .bf-step-2 .measurements-wrapper .selection-measurements-bottom .button-next { width: 160px; }
  .board-finder .section-content .bf-step-3 { background-position: 110% bottom; }
  .board-finder .section-content .bf-step-3 .selection-ability { width: 450px; }
  .board-finder .section-content .bf-step-3 .selection-terrain { width: 450px; }
  .board-finder .section-content .bf-step-5 .description-image-wrapper .description-image-list li.length { background-position: -30px bottom; }
  .board-finder .section-content .bf-step-5 .step-5-content-wrapper { width: 50%; } }
@media screen and (min-width: 980px) { .board-finder .section-content { max-width: 1200px; margin: 0 auto; }
  .board-finder .section-content .bf-step-1 { background-position: 80% bottom; }
  .board-finder .section-content .bf-step-1 .step-1-left { width: 400px; padding: 0 0 0 20px; }
  .board-finder .section-content .bf-step-1 .quote-wrapper { padding: 60px 0 0 0; }
  .board-finder .section-content .bf-step-2 { background-position: 20px bottom; }
  .board-finder .section-content .bf-step-3 { background-position: 97% bottom; }
  .board-finder .section-content .bf-step-5 .description-image-wrapper .description-image-list li.length { background-position: 20px bottom; } }
@media screen and (min-width: 1200px) { .board-finder .section-content .finder-step h3 span { display: inline; padding-left: 8px; } }
