/* ========================================================================== LIBTECH.JAMIELYNN.SCSS ========================================================================== */
/** 1415 Lib Tech WordPress Theme - http://www.lib-tech.com/jamielynn20 Author: brian.behrens@mervin.com & tony.keller@mervin.com - http://www.mervin.com  libtech.jamielynn.css & libtech.jamielynn.min.css are compiled using the imports from this file.  To add new styles and components, import them in the appropriate sections below.  */
/* ========================================================================== HELPERS/_MIXINS.SCSS ========================================================================== */
/* ========================================================================== HELPERS/_RESET.SCSS ========================================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* reset the default cursor */
html, body { cursor: default; }

code { cursor: text; }

a, label, button, input[type=button], input[type="radio"], input[type="submit"], input[type="checkbox"], .clickable { cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

article, aside, figure, footer, header, hgroup, nav, section, details, summary { display: block; }

/* Responsive images and other embedded objects */
img, object, embed { max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html { overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.  don't forget to restore the bullets within content. */
ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted #000; cursor: help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0; }

th { font-weight: bold; vertical-align: bottom; }

td { font-weight: normal; vertical-align: top; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

pre { white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */ word-wrap: break-word; /* IE */ }

input[type="radio"] { vertical-align: text-bottom; }

input[type="checkbox"] { vertical-align: bottom; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }

.ie6 input { vertical-align: text-bottom; }

select, input, textarea { font: 99% sans-serif; }

table { font-size: inherit; font: 100%; }

small { font-size: 85%; }

strong { font-weight: bold; }

td, td img { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* make buttons play nice in IE */
button { width: auto; overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover */
.ie6 html { filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/* apply a natural box layout model to all elements */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe { position: absolute; top: 0; }

/* And here begins the Wordpress fun.
-------------------------------------------------------------------------------*/
#page-wrap { width: 960px; margin: 20px auto; }

ol.commentlist { list-style: none; }

ol.commentlist li.comment { border-bottom: 1px dotted #666; padding: 10px; }

ol.commentlist li.comment div.vcard cite.fn { font-style: normal; }

ol.commentlist li.comment div.vcard img.avatar { float: right; margin: 0 0 10px 10px; }

ol.commentlist li.comment div.comment-meta { font-size: 10px; }

ol.commentlist li.comment div.comment-meta a { color: #ccc; }

ol.commentlist li.comment div.reply { font-size: 11px; }

ol.commentlist li.comment div.reply a { font-weight: bold; }

ol.commentlist li.comment ul.children { list-style: none; margin: 10px 0 0; }

ol.commentlist li.comment ul.children li.depth-2 { border-left: 5px solid #555; margin: 0 0 10px 10px; }

ol.commentlist li.comment ul.children li.depth-3 { border-left: 5px solid #999; margin: 0 0 10px 10px; }

ol.commentlist li.comment ul.children li.depth-4 { border-left: 5px solid #bbb; margin: 0 0 10px 10px; }

ol.commentlist li.even { background: #fff; }

ol.commentlist li.odd { background: #f6f6f6; }

ol.commentlist li.parent { border-left: 5px solid #111; }

html, body { height: 100%; }

.jamie-lynn { height: 100%; }
.jamie-lynn .navigation { display: none; }
.jamie-lynn .section-photo { height: 100%; }
.jamie-lynn .section-photo .photo-item { position: relative; width: 100%; height: 100%; background-size: cover; }
.jamie-lynn .section-photo .photo-item.then-photo { background-image: url("../img/jamie-lynn/mobile/01-vertical-Jamie-Then.jpg"); background-position: center; }
.jamie-lynn .section-photo .photo-item.then-photo h4 { position: absolute; width: 100%; font-family: "museo-slab", serif; color: #CCC; font-weight: 100; text-transform: uppercase; text-align: center; bottom: 7%; }
.jamie-lynn .section-photo .photo-item.then-photo h4.scroll-message { display: none; }
.jamie-lynn .section-photo .photo-item .logo-wrapper { height: 100%; }
.jamie-lynn .section-photo .photo-item .logo-wrapper img { display: block; height: 75%; margin: 0 auto; padding-top: 15%; }
.jamie-lynn .section-photo .photo-item.road-gap-photo { background-image: url("../img/jamie-lynn/mobile/02-vertical-Jamie-Method.jpg"); background-position: center; }
.jamie-lynn .section-photo .photo-item.front3-photo { background-image: url("../img/jamie-lynn/mobile/03-vertical-Jamie-Front3.jpg"); background-position: center; }
.jamie-lynn .section-hide { display: none; }
.jamie-lynn .section-quote { height: auto; background: #000; }
.jamie-lynn .section-quote .quote-item { width: 100%; height: auto; padding: 30px; }
.jamie-lynn .section-quote .quote-item .quote-wrapper blockquote { background-image: url("../img/jamie-lynn/quote-marks.png"); background-repeat: no-repeat; background-size: 4em; padding-top: 50px; }
.jamie-lynn .section-quote .quote-item .quote-wrapper blockquote p { font-family: "museo-slab", serif; color: #CCC; font-size: 1.5em; /* 24/16 */ font-weight: 100; line-height: 1.25; margin-bottom: 30px; padding: 0 15px; }
.jamie-lynn .section-quote .quote-item .quote-wrapper blockquote p.hand-written { display: block; font-family: "felt-tip-senior", cursive; color: #FFCC33; font-size: 2.4em; padding-top: 20px; text-align: center; line-height: .75; }
.jamie-lynn .section-products .product-mobile { display: block; }
.jamie-lynn .section-products .product-desktop { display: none; }
.jamie-lynn .section-products img { width: 100%; height: auto; }
.jamie-lynn .section-signature { height: auto; background: #000; }
.jamie-lynn .section-signature .signature-item { height: 100%; }
.jamie-lynn .section-signature .signature-item .jamie-signature { display: block; width: 70%; margin: 0 auto; }
.jamie-lynn .section-signature .signature-item .signature-name { stroke-dasharray: 2796.57666015625; stroke-dashoffset: 2796.57666015625; -webkit-animation: name 2.5s; -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */ animation-fill-mode: forwards; }
@-webkit-keyframes name { from { stroke-dashoffset: 2796.57666015625; }
  to { stroke-dashoffset: 0; } }
.jamie-lynn .section-signature .signature-item .signature-dot { visibility: hidden; -webkit-animation: dot  0s; -webkit-animation-delay: 2.5s; /* Chrome, Safari, Opera */ animation-delay: 2.5s; -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */ animation-fill-mode: forwards; }
@-webkit-keyframes dot { from { visibility: hidden; }
  to { visibility: visible; } }
@media screen and (min-width: 480px) and (orientation: landscape) { .jamie-lynn .section-photo .photo-item.then-photo { background-image: url("../img/jamie-lynn/mobile/01-horizontal-Jamie-Then.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item .logo-wrapper img { height: 80%; float: right; padding-top: 5%; padding-right: 20%; }
  .jamie-lynn .section-photo .photo-item.road-gap-photo { background-image: url("../img/jamie-lynn/mobile/02-horizontal-Jamie-Method.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item.front3-photo { background-image: url("../img/jamie-lynn/mobile/03-horizontal-Jamie-Front3.jpg"); background-position: center; } }
@media screen and (min-width: 768px) { .jamie-lynn .navigation { display: block; position: fixed; z-index: 3; top: 50%; left: 30px; transform: translateY(-50%); }
  .jamie-lynn .navigation li { padding-top: 10px; }
  .jamie-lynn .navigation li a { display: block; width: 10px; height: 10px; border: 2px solid #FFCC33; border-radius: 10px; }
  .jamie-lynn .navigation li a:hover, .jamie-lynn .navigation li a:focus { background: #FFCC33; }
  .jamie-lynn .section-photo .photo-item.then-photo { background-image: url("../img/jamie-lynn/tablet/01-vertical-Jamie-Then.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item.then-photo h4.mobile-message { display: none; }
  .jamie-lynn .section-photo .photo-item.then-photo h4.scroll-message { display: block; }
  .jamie-lynn .section-photo .photo-item .logo-wrapper { height: 100%; }
  .jamie-lynn .section-photo .photo-item .logo-wrapper img { height: 100%; float: right; padding: 20% 10%; margin: 0; }
  .jamie-lynn .section-photo .photo-item.road-gap-photo { background-image: url("../img/jamie-lynn/tablet/03-vertical-Jamie-Method.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item.front3-photo { background-image: url("../img/jamie-lynn/tablet/04-vertical-Jamie-Front3.jpg"); background-position: center; }
  .jamie-lynn .section-hide { display: block; }
  .jamie-lynn .section-hide .photo-item.now-photo { background-image: url("../img/jamie-lynn/tablet/02-vertical-Jamie-Now.jpg"); background-position: center; }
  .jamie-lynn .section-quote { position: relative; height: 100%; }
  .jamie-lynn .section-quote .quote-item { height: 100%; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper { position: absolute; width: 75%; top: 50%; left: 12.5%; transform: translateY(-50%); }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote { width: 600px; background-size: 6em; padding: 0 0 0 100px; margin: 0 auto; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote p.hand-written { font-size: 3em; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote .hand-written { font-size: 3em; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote.quote-small { width: 450px; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote.quote-small p { font-size: 1em; line-height: 1.75; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote.quote-small p.hand-written { font-size: 3em; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote span { display: block; }
  .jamie-lynn .section-products .product-desktop { display: block; }
  .jamie-lynn .section-products .product-mobile { display: none; }
  .jamie-lynn .section-signature { height: 100%; }
  .jamie-lynn .section-signature .signature-item { position: relative; width: auto; height: 100%; }
  .jamie-lynn .section-signature .signature-item .jamie-signature { position: absolute; width: 40%; height: auto; left: 30%; right: 30%; top: 50%; transform: translateY(-50%); } }
@media screen and (min-width: 980px) { .jamie-lynn .section-photo .photo-item.then-photo { background-image: url("../img/jamie-lynn/tablet/01-horizontal-Jamie-Then.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item.now-photo { background-image: url("../img/jamie-lynn/tablet/02-horizontal-Jamie-Now.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item.road-gap-photo { background-image: url("../img/jamie-lynn/tablet/03-horizontal-Jamie-Method.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item.front3-photo { background-image: url("../img/jamie-lynn/tablet/04-horizontal-Jamie-Front3.jpg"); background-position: center; }
  .jamie-lynn .section-photo .photo-item .logo-wrapper img { height: 100%; padding: 120px; }
  .jamie-lynn .section-signature .signature-item .jamie-signature { width: 30%; height: auto; left: 35%; right: 35%; } }
@media screen and (min-width: 1200px) { .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote { width: 750px; }
  .jamie-lynn .section-quote .quote-item .quote-wrapper blockquote.quote-small { width: 550px; } }
