// ==========================================================================
// LIBTECH.SNOWBOARDFINDER.SCSS
// ==========================================================================

// Lib Tech DIY Snowboard Finder - http://www.lib-tech.com/snowboarding/snowboard-finder/
// Authors: brian.behrens@mervin.com & tony.keller@mervin.com - http://www.mervin.com

// Helpers
@import 'helpers/variables';
@import 'helpers/mixins';

@import 'lib/owl-carousel';
@import 'lib/owl-theme-default';

.board-finder {
  padding-bottom: 0;
}

.finder-step {
  clear: both;
  min-height: 480px;
  padding: 0 20px;

  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
    clear: both;
  }

  h3 {
    line-height: 1.25;
    text-align: center;
  }

  h4 {
    color: #fff;
    font-size: 1.4em;
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 20px;
  }

  select {
    border: 1px solid #000;
  }

  .quote-wrapper {
    display: none;
  }

  .bf-button {
    background-color: $snowColor;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: $bodyFont;
    font-size: 1.5em;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;

    &:hover,
    &:focus,
    &.selected {
      background-color: #000;
      border: 1px solid $snowColor;
      color: $snowColor;
      text-decoration: none;
    }
  }

  .back-button {
    display: block;
    padding: 0 0 20px 20px;

  }


  .button-list {
    width: 100%;

    .list-item {
      display: block;
      height: 40px;
      line-height: 30px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
}

.bf-step-1 {
  background: url('../img/board-finder/bf-step-1-kraftsman.png') 170% bottom no-repeat;
  background-size: 65%;
  padding: 40px 0;

  .step-1-left {
    h1 {
      padding-bottom: 30px;
    }

    h3 {
      padding-bottom: 80px;
    }

    .selection-who {
      margin: 0 auto;
      width: 50%;
    }
  }
}

.bf-step-2 {
  background: url("../img/board-finder/bf-step-2-kraftsman.png") -20% bottom no-repeat;
  background-size: 85%;
  padding: 40px 0;

  .measurements-wrapper {
    .selection-measurements-top {
      width: 100%;

      .measurement-type {
        text-align: center;

        input {
          margin-right: 10px;
        }


        label {
          color: $snowColor;
          font-size: 1.2em;
          text-transform: uppercase;
          vertical-align: middle;

          &.us {
            padding-right: 30px;
          }
        }
      }

      .weight-measurement {
        margin: 0 auto;
        padding: 30px 0 40px;
        width: 50%;
      }

      .height-measurement {
        margin: 0 auto;
        padding-bottom: 40px;
        width: 50%;
      }
    }

    .selection-measurements-bottom {
      width: 50%;
      margin: 0 auto;

      .boot-measurement {
        padding-bottom: 40px;
      }
    }
  }

  .ng-submitted .ng-invalid {
    color: red;
  }
}

.bf-step-3 {
  background: url('../img/board-finder/bf-step-3-kraftsman.png') 130% bottom no-repeat;
  background-size: 50%;
  padding: 40px 0;

  .selection-ability {
    padding-bottom: 30px;
    text-align: center;

    .button-list {
      margin: 0 auto;
      width: 50%;
    }
  }

  .selection-terrain {
    text-align: center;

    .button-list {
      margin: 0 auto;
      width: 50%;
    }
  }
}

.bf-step-4 {
  padding: 40px 0;

  .product-filtering {
    display: table;
    padding: 30px 20px 40px;
    width: 100%;

    .filters {
      display: table-cell;
      margin: 0;
      width: 33.3333%;

      .filters-wrapper {
        position: relative;
      }

      &.left {
        padding-right: 5px;
      }

      &.center {
        padding: 0 5px;
      }

      &.right {
        padding-left: 5px;
      }

      .filter-list {
        width: 100%;

        .filter-item {
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  .product-listing {
    .product-item {
      float: left;
      padding-bottom: 40px;
      text-align: center;

      a {
        .product-img {
          width: 100%;
          max-width: 200%;
          height: auto;
        }

        h5 {
          display: inline-block;

          .board-length {
            color: #fff;
          }
        }
      }
    }
  }

  .why-link-wrapper {
    text-align: center;

    .why-link {
      display: inline-block;
      padding: 0 20px;
      text-align: center;
      width: auto;
    }
  }

  .reset-link {
    float: left;
    padding: 0 20px 20px 20px;
  }
}

.bf-step-5 {
  padding: 40px 20px;

  h2 {
    padding-bottom: 30px;
  }

  h3 {
    padding-bottom: 20px;
  }

  .back-button {
    padding-left: 0;
  }

  .step-5-content-wrapper {
    .selection-why {
      table {
        width: 100%;

        td {
          text-align: center;
        }
      }

      .button-list {
        display: table;
        padding-bottom: 30px;

        .list-item {
          display: table-cell;
          width: 33.3333%;

          button {
            font-size: 1.2em;
          }

          &.left {
            padding-right: 5px;
          }

          &.center {
            padding: 0 5px;
          }

          &.right {
            padding-left: 5px;
          }
        }
      }
    }

    .description-wrapper {
      .description {
        h4 {
          color: $snowColor;
        }
      }
    }
  }
}
@media screen and (min-width: $breakpoint-small) {
  .finder-step {
    min-height: 380px;
  }

  .bf-step-1 {
    background-position: 90% bottom;
    background-size: 40%;

    .step-1-left {
      margin: 0 20% 0 0;
      width: 50%;

      h3 {
        padding-bottom: 40px;
      }

      .selection-who {
        padding: 0 10%;
        width: 100%;
      }
    }
  }

  .bf-step-2 {
    background-position: 10% bottom;
    background-size: 55%;

    .measurements-wrapper {
      .selection-measurements-top {
        float: right;
        margin: 0 5% 0 20%;
        width: 40%;

        .measurement-type {
          text-align: left;
        }

        .weight-measurement {
          padding: 30px 0 10px;
          width: 100%;
        }

        .height-measurement {
          padding: 10px 0;
          width: 100%;
        }
      }

      .selection-measurements-bottom {
        float: right;
        margin: 0 5% 0 20%;
        width: 40%;

        .boot-measurement {
          padding: 10px 0;
        }
      }
    }
  }

  .bf-step-3 {
    background-position: 90% bottom;
    background-size: 35%;

    .selection-ability {
      margin-left: 20px;
      padding-bottom: 60px;
      text-align: left;
      width: 40%;

      .button-list {
        width: 100%;
      }
    }

    .selection-terrain {
      margin-left: 20px;
      text-align: left;
      width: 40%;

      .button-list {
        width: 100%;
      }
    }
  }

  .bf-step-5 {
    .step-5-content-wrapper {
      .selection-why {
        .button-list {
          .list-item {
            button {
              font-size: 1.5em;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {

  @-webkit-keyframes bf-quote-fade-in {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0);
      transform: translate3d(-10%, 0, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes bf-quote-fade-in {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-10%, 0, 0);
      transform: translate3d(-10%, 0, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .bf-quote-fade-in {
    -webkit-animation-name: bf-quote-fade-in;
    animation-name: bf-quote-fade-in;
  }

  .finder-step {
    min-height: 800px;

    .quote-wrapper {
      display: block;
      width: 200px;
      height: 220px;

      .quote,
      .quote-cite {
        -webkit-animation-duration: 300ms;
        animation-duration: 300ms;
        opacity: 0;
        color: #FFF;
      }

      .quote {
        font-style: italic;
      }

      .quote-cite {
        -webkit-animation-delay: 100ms;
        animation-delay: 100ms;
        padding-left: 20px;
        text-transform: uppercase;
      }
    }

    .button-list {
      display: table;

      .list-item {
        display: table-cell;
      }
    }
  }

  .bf-step-1 {
    background-position: 105% bottom;
    background-size: 575px;

    .step-1-left {
      float: left;
      padding: 0 20px;
      width: 50%;

      h1 {
        padding: 100px 0 60px;
      }

      h3 {
        padding-bottom: 80px;
      }

      .selection-who {
        padding: 0;
        width: 100%;

        .button-list {
          .list-item {
            width: 50%;

            &.left {
              padding-right: 5px;
            }

            &.right {
              padding-left: 5px;
            }
          }
        }
      }
    }

    .quote-wrapper {
      float: right;
      padding: 60px 20px 0 0;
    }
  }

  .bf-step-2 {
    background-position: -70px bottom;
    background-size: 750px;

    .quote-wrapper {
      height: 200px;
      margin: 0 auto;
      padding-top: 50px;
    }

    select {
      width: 140px;
    }

    .button-container {
      width: 140px;
    }

    .measurements-wrapper {
      text-align: right;

      .selection-measurements-top {
        margin: 0;
        padding: 0 20px 25px 0;
        width: 100%;

        .measurement-type {
          float: right;
          padding: 0 300px 20px 0;
          width: 498px;
        }

        .weight-measurement {
          display: inline-block;
          padding: 10px 60px 0 0;
          text-align: left;
          width: 200px;
        }

        .height-measurement {
          display: inline-block;
          text-align: left;
          vertical-align: top;
          width: 294px;

          .height-us {
            select {

              &.feet {
                margin-right: 10px;
              }
            }
          }

          .height-metric {
            padding-right: 150px;
          }
        }
      }
      .selection-measurements-bottom {
        margin: 0;
        padding: 0 174px 40px 0;
        width: 100%;

        .boot-measurement {
          display: inline-block;
          padding-right: 60px;
          text-align: left;
        }

        .button-container {
          display: inline-block;
          padding-top: 40px;
        }
      }
    }
  }
  .bf-step-3 {
    background-position: 125% bottom;
    background-size: 450px;

    .quote-wrapper {
      margin: 0 auto;
      padding-top: 100px;
    }

    .selection-ability {
      margin-top: 50px;
      width: 60%;

      .button-list {
        .list-item {
          width: 33.3333%;

          &.left {
            padding-right: 10px;
          }

          &.right {
            padding-left: 10px;
          }
        }
      }
    }
    .selection-terrain {
      width: 60%;

      .button-list {
        .list-item {
          width: 33.3333%;

          &.left {
            padding-right: 10px;
          }

          &.right {
            padding-left: 10px;
          }
        }
      }
    }
  }
  .bf-step-4 {
    h2 {
      float: left;
      padding-left: 20px;
      text-align: left;
    }

    .product-filtering {
      float: right;
      padding-top: 0;
      width: 50%;
    }

    .board-picks {
      .product-listing {
        clear: both;

        .product-item {
          width: 50%;
        }
      }
    }

    .why-link-wrapper {
      text-align: left;
      padding-left: 20px;

      .why-link {
        clear: both;
      }
    }
  }

  .bf-step-5 {
    position: relative;

    .description-image-wrapper {
      left: 0;
      min-height: 800px;
      position: absolute;
      top: 0;
      width: 100%;

      .description-image-list {
        li {
          min-height: 800px;
          width: 100%;

          &.length {
            background: url('../img/board-finder/bf-length.png') -75px bottom no-repeat;
            background-size: 450px;
          }
          &.width {
            background: url('../img/board-finder/bf-width.png') -32px bottom no-repeat;
            background-size: 450px;
          }
          &.contour {
            background: url('../img/board-finder/bf-contour.png') -65px bottom no-repeat;
            background-size: 450px;
          }
        }
      }
    }

    .step-5-content-wrapper {
      float: right;
      padding: 115px 0 0;
      position: relative;
      width: 50%;
      z-index: 2;

      h2 {
        text-align: left;
      }
      h3 {
        text-align: left;

        span {
          margin-left: 6px;
        }
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .bf-step-1 {
    background-position: 100% bottom;

    .quote-wrapper {
      padding: 60px 40px 0 0;
      width: 200px;
    }
  }

  .bf-step-2 {
    background-position: -15px bottom;

    select {
      width: 160px;
    }

    .measurements-wrapper {
      .selection-measurements-top {
        .measurement-type {
          width: 536px;
        }

        .weight-measurement {
          padding-right: 40px;
        }

        .height-measurement {
          width: 334px;

          .height-metric {
            padding-right: 170px;
          }
        }
      }

      .selection-measurements-bottom {
        padding-right: 194px;

        .boot-measurement {
          padding-right: 40px;
        }
        .button-container {
          width: 160px;
        }
      }
    }
  }

  .bf-step-3 {
    background-position: 110% bottom;

    .selection-ability {
      width: 500px;
    }

    .selection-terrain {
      width: 500px;
    }
  }

  .bf-step-5 {
    .description-image-wrapper {
      .description-image-list {
        li {
          &.length {
            background-position: 0 bottom;
          }
          &.width {
            background-position: 25px bottom;
          }
          &.contour {
            background-position: 25px bottom;
          }
        }
      }
    }

    .step-5-content-wrapper {
      width: 45%;
    }
  }
}
@media screen and (min-width: $breakpoint-large) {
  .board-finder {
    .section-content {
      margin: 0 auto;
      max-width: $breakpoint-xlarge;
    }
  }

  .bf-step-1 {
    background-position: 95% bottom;

    .step-1-left {
      padding: 0 0 0 20px;
      width: 500px;
    }

    .quote-wrapper {
      padding: 60px 0 0;
    }
  }

  .bf-step-2 {
    background-position: 20px bottom;
  }

  .bf-step-3 {
    background-position: 97% bottom;
  }

  .bf-step-5 {
    .step-5-content-wrapper {
      width: 50%;
    }
    .description-image-wrapper {
      .description-image-list {
        li {
          &.length {
            background-position: 0 bottom;
          }
          &.width {
            background-position: 5% bottom;
          }
          &.contour {
            background-position: 5% bottom;
          }
        }
      }
    }
  }
}
@media screen and (min-width: $breakpoint-xlarge) {

  .bf-step-5 {
    .step-5-content-wrapper {
      width: 50%;
    }
  }
}
