.owl-carousel .animated { -webkit-animation-duration: 1000ms; animation-duration: 1000ms; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.owl-carousel .owl-animated-in { z-index: 0; }

.owl-carousel .owl-animated-out { z-index: 1; }

.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut; }

@-webkit-keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes fadeOut { 0% { opacity: 1; }
  100% { opacity: 0; } }
.owl-height { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }

.owl-carousel { display: none; position: relative; -webkit-tap-highlight-color: transparent; width: 100%; z-index: 1; }

.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }

.owl-carousel .owl-stage-outer { overflow: hidden; position: relative; -webkit-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item { float: left; min-height: 1px; position: relative; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }

.owl-carousel .owl-item img { display: block; -webkit-transform-style: preserve-3d; width: 100%; }

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled { display: none; }

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot { cursor: pointer; cursor: hand; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

.owl-carousel.owl-loaded { display: block; }

.owl-carousel.owl-loading { display: block; opacity: 0; }

.owl-carousel.owl-hidden { opacity: 0; }

.owl-carousel.owl-refresh .owl-item { display: none; }

.owl-carousel.owl-drag .owl-item { -moz-user-select: none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }

.owl-carousel.owl-grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }

.owl-carousel.owl-rtl { direction: rtl; }

.owl-carousel.owl-rtl .owl-item { float: right; }

.no-js .owl-carousel { display: block; }

.owl-carousel .owl-item .owl-lazy { opacity: 0; -webkit-transition: opacity 400ms ease; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; transition: opacity 400ms ease; }

.owl-carousel .owl-item img { transform-style: preserve-3d; }

.owl-carousel .owl-video-wrapper { background: #000; height: 100%; position: relative; }

.owl-carousel .owl-video-play-icon { background: url("owl.video.play.png") no-repeat; cursor: pointer; position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; z-index: 1; -webkit-backface-visibility: hidden; -webkit-transition: scale 100ms ease; -moz-transition: scale 100ms ease; -ms-transition: scale 100ms ease; -o-transition: scale 100ms ease; transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover { -webkit-transition: scale(1.3, 1.3); -moz-transition: scale(1.3, 1.3); -ms-transition: scale(1.3, 1.3); -o-transition: scale(1.3, 1.3); transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon { display: none; }

.owl-carousel .owl-video-tn { background-position: center center; background-repeat: no-repeat; -moz-background-size: contain; -o-background-size: contain; -webkit-background-size: contain; background-size: contain; height: 100%; opacity: 0; -moz-transition: opacity 400ms ease; -ms-transition: opacity 400ms ease; -o-transition: opacity 400ms ease; -webkit-transition: opacity 400ms ease; transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame { height: 100%; position: relative; width: 100%; z-index: 1; }

.owl-theme-libtech { overflow: hidden; }
.owl-theme-libtech .owl-nav { -webkit-tap-highlight-color: transparent; }
.owl-theme-libtech .owl-nav [class*='owl-'] { background-color: #333; background-image: url("../img/sprite.png"); color: #fff; cursor: pointer; display: inline-block; font-size: 14px; height: 50px; margin-top: -50px; position: absolute; top: 50%; width: 25px; }
.owl-theme-libtech .owl-nav [class*='owl-']:hover, .owl-theme-libtech .owl-nav [class*='owl-']:focus { background-color: #666; color: #fff; text-decoration: none; }
.owl-theme-libtech .owl-nav .owl-prev { background-position: 6px 12px; left: -25px; -webkit-transition: left 100ms ease-in-out; -moz-transition: left 100ms ease-in-out; -ms-transition: left 100ms ease-in-out; -o-transition: left 100ms ease-in-out; transition: left 100ms ease-in-out; }
.owl-theme-libtech .owl-nav .owl-prev:hover, .owl-theme-libtech .owl-nav .owl-prev:focus { background-position: 6px -35px; }
.owl-theme-libtech .owl-nav .owl-prev.disabled { background-position: 6px 12px; }
.owl-theme-libtech .owl-nav .owl-next { background-position: -17px 12px; right: -25px; -webkit-transition: right 100ms ease-in-out; -moz-transition: right 100ms ease-in-out; -ms-transition: right 100ms ease-in-out; -o-transition: right 100ms ease-in-out; transition: right 100ms ease-in-out; }
.owl-theme-libtech .owl-nav .owl-next:hover, .owl-theme-libtech .owl-nav .owl-next:focus { background-position: -17px -35px; }
.owl-theme-libtech .owl-nav .owl-next.disabled { background-position: -17px 12px; }
.owl-theme-libtech .owl-nav .disabled, .owl-theme-libtech .owl-nav .disabled:hover, .owl-theme-libtech .owl-nav .disabled:focus { background-color: #000; }
.owl-theme-libtech .owl-dots { -webkit-tap-highlight-color: transparent; text-align: center; }
.owl-theme-libtech .owl-dots .owl-dot { display: inline-block; *display: inline; zoom: 1; }
.owl-theme-libtech .owl-dots .owl-dot span { background: #000; border: 2px solid #fff; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; display: block; height: 12px; margin: 5px 7px; width: 12px; }
.owl-theme-libtech .owl-dots .owl-dot.active span, .owl-theme-libtech .owl-dots .owl-dot:hover span { background: #fff; }

.no-touch .owl-theme-libtech:hover .owl-nav .owl-prev, .no-touch .owl-theme-libtech:focus .owl-nav .owl-prev { left: 0; }
.no-touch .owl-theme-libtech:hover .owl-nav .owl-next, .no-touch .owl-theme-libtech:focus .owl-nav .owl-next { right: 0; }

.board-finder { padding-bottom: 0; }

.finder-step { clear: both; min-height: 480px; padding: 0 20px; }
.finder-step h1 { text-align: center; }
.finder-step h2 { clear: both; text-align: center; }
.finder-step h3 { line-height: 1.25; text-align: center; }
.finder-step h4 { color: #fff; font-size: 1.4em; padding-bottom: 10px; }
.finder-step p { padding-bottom: 20px; }
.finder-step select { border: 1px solid #000; font-size: 1.1em; height: 40px; outline: none; padding: 1px 10px 0 10px; }
.finder-step .quote-wrapper { display: none; }
.finder-step .bf-button { background-color: #FFFF00; border: 1px solid #000; color: #000; cursor: pointer; display: block; font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; font-size: 1.1em; font-style: italic; height: 40px; line-height: 40px; margin: 0; outline: none; padding: 0; text-transform: uppercase; width: 100%; }
.finder-step .bf-button:hover, .finder-step .bf-button:focus, .finder-step .bf-button.selected { background-color: #000; border: 1px solid #FFFF00; color: #FFFF00; text-decoration: none; }
.finder-step .back-button { display: block; padding: 0 0 20px 20px; }
.finder-step .button-list { width: 100%; }
.finder-step .button-list .list-item { display: block; height: 40px; line-height: 30px; margin-bottom: 10px; text-align: center; width: 100%; }

.bf-step-1 { background: url("../img/board-finder/bf-step-1-kraftsman.png") 170% bottom no-repeat; background-size: 65%; padding: 40px 0; }
.bf-step-1 .step-1-left h1 { padding-bottom: 30px; }
.bf-step-1 .step-1-left h3 { padding-bottom: 80px; }
.bf-step-1 .step-1-left .selection-who { margin: 0 auto; width: 50%; }

.bf-step-2 { background: url("../img/board-finder/bf-step-2-kraftsman.png") -20% bottom no-repeat; background-size: 85%; padding: 40px 0; }
.bf-step-2 .measurements-wrapper .selection-measurements-top { width: 100%; }
.bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type { text-align: center; }
.bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type input { margin-right: 10px; }
.bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type label { color: #FFFF00; font-size: 1.2em; text-transform: uppercase; vertical-align: middle; }
.bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type label.us { padding-right: 30px; }
.bf-step-2 .measurements-wrapper .selection-measurements-top .weight-measurement { margin: 0 auto; padding: 30px 0 40px; width: 50%; }
.bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement { margin: 0 auto; padding-bottom: 40px; width: 50%; }
.bf-step-2 .measurements-wrapper .selection-measurements-bottom { margin: 0 auto; width: 50%; }
.bf-step-2 .measurements-wrapper .selection-measurements-bottom .boot-measurement { padding-bottom: 40px; }
.bf-step-2 .ng-submitted .ng-invalid { color: red; }

.bf-step-3 { background: url("../img/board-finder/bf-step-3-kraftsman.png") 137% bottom no-repeat; background-size: 53%; padding: 40px 0; }
.bf-step-3 .selection-ability { padding-bottom: 30px; text-align: center; }
.bf-step-3 .selection-ability .button-list { margin: 0 auto; width: 50%; }
.bf-step-3 .selection-terrain { text-align: center; }
.bf-step-3 .selection-terrain .button-list { margin: 0 auto; width: 50%; }

.bf-step-4 { padding: 40px 0; }
.bf-step-4 .product-filtering { display: table; height: 100px; padding: 30px 20px 0; width: 100%; }
.bf-step-4 .product-filtering .filters { display: table-cell; margin: 0; width: 33.3333%; }
.bf-step-4 .product-filtering .filters .filters-wrapper { position: relative; }
.bf-step-4 .product-filtering .filters.left { padding-right: 5px; }
.bf-step-4 .product-filtering .filters.center { padding: 0 5px; }
.bf-step-4 .product-filtering .filters.right { padding-left: 5px; }
.bf-step-4 .product-filtering .filters .filter-list { width: 100%; }
.bf-step-4 .product-filtering .filters .filter-list .filter-item { text-align: left; width: 100%; }
.bf-step-4 .product-listing { position: relative; }
.bf-step-4 .product-listing .product-item { float: none; padding-bottom: 0; width: 100%; }
.bf-step-4 .why-link-wrapper { text-align: center; }
.bf-step-4 .why-link-wrapper .why-link { display: inline-block; padding: 0 20px; text-align: center; width: auto; }
.bf-step-4 .reset-link { float: left; padding: 0 20px 20px; }

.bf-step-5 { padding: 40px 20px; }
.bf-step-5 h2 { padding-bottom: 30px; }
.bf-step-5 h3 { padding-bottom: 20px; }
.bf-step-5 h4 { color: #FFFF00; }
.bf-step-5 .back-button { padding-left: 0; }
.bf-step-5 .button-list { display: table; padding-bottom: 30px; }
.bf-step-5 .button-list .list-item { display: table-cell; width: 33.3333%; }
.bf-step-5 .button-list .list-item.left { padding-right: 5px; }
.bf-step-5 .button-list .list-item.center { padding: 0 5px; }
.bf-step-5 .button-list .list-item.right { padding-left: 5px; }
.bf-step-5 .boot-sizes { width: 100%; }
.bf-step-5 .boot-sizes .current { color: #FFFF00; }
.bf-step-5 .contour-item { width: 270px; margin: 0 auto; padding-bottom: 20px; }
.bf-step-5 .contour-item .contour-image { padding: 5px 0; }
.bf-step-5 .contour-item .contour-image img { cursor: pointer; }
.bf-step-5 .contour-item .contour-desc { padding: 0; }

@media screen and (min-width: 480px) { .finder-step { min-height: 380px; }
  .bf-step-1 { background-position: 90% bottom; background-size: 40%; }
  .bf-step-1 .step-1-left { margin: 0 20% 0 0; width: 50%; }
  .bf-step-1 .step-1-left h3 { padding-bottom: 40px; }
  .bf-step-1 .step-1-left .selection-who { padding: 0 10%; width: 100%; }
  .bf-step-2 { background-position: 10% bottom; background-size: 55%; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top { float: right; margin: 0 5% 0 20%; width: 40%; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type { text-align: left; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .weight-measurement { padding: 30px 0 10px; width: 100%; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement { padding: 10px 0; width: 100%; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom { float: right; margin: 0 5% 0 20%; width: 40%; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom .boot-measurement { padding: 10px 0; }
  .bf-step-3 { background-position: 90% bottom; background-size: 35%; }
  .bf-step-3 .selection-ability { margin-left: 20px; padding-bottom: 60px; text-align: left; width: 40%; }
  .bf-step-3 .selection-ability .button-list { width: 100%; }
  .bf-step-3 .selection-terrain { margin-left: 20px; text-align: left; width: 40%; }
  .bf-step-3 .selection-terrain .button-list { width: 100%; } }
@media screen and (min-width: 768px) { @-webkit-keyframes bf-quote-fade-in { 0% { opacity: 0; -webkit-transform: translate3d(-10%, 0, 0); transform: translate3d(-10%, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; } }
  @keyframes bf-quote-fade-in { 0% { opacity: 0; -webkit-transform: translate3d(-10%, 0, 0); transform: translate3d(-10%, 0, 0); }
    100% { opacity: 1; -webkit-transform: none; transform: none; } }
  .bf-quote-fade-in { -webkit-animation-name: bf-quote-fade-in; animation-name: bf-quote-fade-in; }
  .finder-step { min-height: 800px; }
  .finder-step .quote-wrapper { display: block; width: 200px; height: 220px; }
  .finder-step .quote-wrapper .quote, .finder-step .quote-wrapper .quote-cite { -webkit-animation-duration: 300ms; animation-duration: 300ms; opacity: 0; color: #FFF; }
  .finder-step .quote-wrapper .quote { font-style: italic; }
  .finder-step .quote-wrapper .quote-cite { -webkit-animation-delay: 100ms; animation-delay: 100ms; padding-left: 20px; text-transform: uppercase; }
  .finder-step .button-list { display: table; }
  .finder-step .button-list .list-item { display: table-cell; }
  .bf-step-1 { background-position: 105% bottom; background-size: 575px; }
  .bf-step-1 .step-1-left { float: left; padding: 0 20px; width: 50%; }
  .bf-step-1 .step-1-left h1 { padding: 100px 0 60px; }
  .bf-step-1 .step-1-left h3 { padding-bottom: 80px; }
  .bf-step-1 .step-1-left .selection-who { padding: 0; width: 100%; }
  .bf-step-1 .step-1-left .selection-who .button-list .list-item { width: 50%; }
  .bf-step-1 .step-1-left .selection-who .button-list .list-item.left { padding-right: 5px; }
  .bf-step-1 .step-1-left .selection-who .button-list .list-item.right { padding-left: 5px; }
  .bf-step-1 .quote-wrapper { float: right; padding: 60px 20px 0 0; }
  .bf-step-2 { background-position: -70px bottom; background-size: 750px; }
  .bf-step-2 .quote-wrapper { height: 200px; margin: 0 auto; padding-top: 50px; }
  .bf-step-2 select { width: 140px; }
  .bf-step-2 .button-container { width: 140px; }
  .bf-step-2 .measurements-wrapper { text-align: right; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top { margin: 0; padding: 0 20px 25px 0; width: 100%; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type { float: right; padding: 0 300px 20px 0; width: 498px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .weight-measurement { display: inline-block; padding: 10px 60px 0 0; text-align: left; width: 200px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement { display: inline-block; text-align: left; vertical-align: top; width: 294px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement .height-us select.feet { margin-right: 10px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement .height-metric { padding-right: 150px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom { margin: 0; padding: 0 174px 40px 0; width: 100%; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom .boot-measurement { display: inline-block; padding-right: 60px; text-align: left; vertical-align: top; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom .button-container { display: inline-block; padding-top: 42px; }
  .bf-step-3 { background-position: 125% bottom; background-size: 465px; }
  .bf-step-3 .quote-wrapper { margin: 0 auto; padding-top: 100px; }
  .bf-step-3 .selection-terrain, .bf-step-3 .selection-ability { width: 60%; }
  .bf-step-3 .selection-ability { margin-top: 50px; }
  .bf-step-3 .button-list .list-item { width: 25%; padding-right: 10px; }
  .bf-step-4 h2 { float: left; padding-left: 20px; text-align: left; }
  .bf-step-4 .product-filtering { float: right; padding-top: 0; width: 50%; }
  .bf-step-4 .board-picks .product-listing { clear: both; }
  .bf-step-4 .why-link-wrapper { padding-left: 20px; text-align: left; }
  .bf-step-4 .why-link-wrapper .why-link { clear: both; }
  .bf-step-5 { position: relative; }
  .bf-step-5 .description-image-wrapper { left: 0; min-height: 800px; position: absolute; top: 0; width: 100%; }
  .bf-step-5 .description-image-wrapper .description-image-list li { min-height: 800px; width: 100%; }
  .bf-step-5 .description-image-wrapper .description-image-list li.length { background: url("../img/board-finder/bf-length.png") -75px bottom no-repeat; background-size: 450px; }
  .bf-step-5 .description-image-wrapper .description-image-list li.width { background: url("../img/board-finder/bf-width.png") -32px bottom no-repeat; background-size: 450px; }
  .bf-step-5 .description-image-wrapper .description-image-list li.contour { background: url("../img/board-finder/bf-contour.png") -65px bottom no-repeat; background-size: 450px; }
  .bf-step-5 .step-5-content-wrapper { float: right; padding: 75px 0 0; position: relative; width: 50%; z-index: 2; }
  .bf-step-5 .step-5-content-wrapper h2 { text-align: left; }
  .bf-step-5 .step-5-content-wrapper h3 { text-align: left; }
  .bf-step-5 .step-5-content-wrapper h3 span { margin-left: 6px; }
  .bf-step-5 .contours { margin-left: -10px; }
  .bf-step-5 .contour-item { width: 49.5%; margin: 0; display: inline-block; vertical-align: center; padding-left: 10px; }
  .bf-step-5 .contour-item img { width: 100%; } }
@media screen and (min-width: 900px) { .bf-step-1 { background-position: 100% bottom; }
  .bf-step-1 .quote-wrapper { padding: 60px 40px 0 0; width: 200px; }
  .bf-step-2 { background-position: -15px bottom; }
  .bf-step-2 select { width: 160px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .measurement-type { width: 536px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .weight-measurement { padding-right: 40px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement { width: 334px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-top .height-measurement .height-metric { padding-right: 170px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom { padding-right: 194px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom .boot-measurement { padding-right: 40px; }
  .bf-step-2 .measurements-wrapper .selection-measurements-bottom .button-container { width: 160px; }
  .bf-step-3 { background-position: 110% bottom; }
  .bf-step-3 .selection-ability, .bf-step-3 .selection-terrain { width: 520px; }
  .bf-step-5 .description-image-wrapper .description-image-list li.length { background-position: 0 bottom; }
  .bf-step-5 .description-image-wrapper .description-image-list li.width { background-position: 25px bottom; }
  .bf-step-5 .description-image-wrapper .description-image-list li.contour { background-position: 25px bottom; }
  .bf-step-5 .step-5-content-wrapper { width: 45%; } }
@media screen and (min-width: 992px) { .board-finder .section-content { margin: 0 auto; max-width: 1200px; }
  .bf-step-1 { background-position: 95% bottom; }
  .bf-step-1 .step-1-left { padding: 0 0 0 20px; width: 500px; }
  .bf-step-1 .quote-wrapper { padding: 60px 0 0; }
  .bf-step-2 { background-position: 20px bottom; }
  .bf-step-3 { background-position: 97% bottom; }
  .bf-step-5 .step-5-content-wrapper { width: 50%; }
  .bf-step-5 .description-image-wrapper .description-image-list li.length { background-position: 0 bottom; }
  .bf-step-5 .description-image-wrapper .description-image-list li.width { background-position: 5% bottom; }
  .bf-step-5 .description-image-wrapper .description-image-list li.contour { background-position: 5% bottom; } }
